/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4em;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Write-off custom styles
   ========================================================================== */


/*
 * Generic
 */

body {
	background: #ccc;
	padding: 1em;
	
	font-family: "Bitstream Charter", "Charter BT", "Book Antiqua",
		"Bookman Old Style", Palladio, "URW Palladio L", Garamond, 
		"Apple Garamond", Georgia, serif; /* Eeyup */
}
h1 + h2 {
	padding-top: 1em;
}
h1 {
	color: #000;
}
h3, h4 {
	color: #666;
}
h4 {
	font-style: italic;
}
code, tt, var {
	margin: 0 2px;
	padding: 0px 5px;
	white-space: nowrap;
	border: 1px solid #EAEAEA;
	font-style: normal;
	font-family: monospace;
	background-color: #F8F8F8;
	border-radius: 3px;
}
a {
	text-decoration: none;
}
a.link, a.link:visited {
	color: brown;
	transition: .05s all linear;
	-moz-transition: .05s all linear;
	-webkit-transition: .05s all linear;
}
a.link:hover {
	color: coral;
}
a.author, a.author:visited,
a.artist, a.artist:visited {
	color: inherit;
	border-bottom: 1px dotted silver;
}
article, footer, nav {
	margin: 0 auto;
	padding: 0 40px;
	width: 785px;
}
article, footer {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 8px black;
}
article {
	padding: 40px;
}
footer {
	margin-top: 20px;
	padding: 1em 40px;
}
footer p {
	margin: 0;
	line-height: 1.2em;
	font-size: 0.9em;
	text-align: center;
}

/*
 * FORM STYLES
 */

form.light label {
	font-weight: bold;
	display: block;
}
form.light p.field, form.light p.inline {
	margin-right: 1em;
	min-width: 240px;
	display: inline-block;
	vertical-align: top;
}
form.light p.confirm {
	margin-top: 0px;
	font-size: 0.9em;
	width: 316px;
	line-height: 1.2em;
}
form.light input[type="text"],
form.light input[type="password"],
form.light input[type="email"],
form.light input[type="url"],
form.light input[type="number"],
form.light input[type="search"],
form.light input[type="datetime-local"],
form.light textarea {
	border: 1px solid #aaa;
	padding: 4px;
	border-radius: 4px;
}
form.light textarea,
form.light select {
	font-size: 0.8em;
	margin-bottom: 0;
}
form.light input.halfwidth {
	width: 374px;
}
form.light p .ps {
	color: #666;
	font-size: 0.95em;
	line-height: normal;
}
#sortable { 
	list-style-type: none;
	padding: 0; 
	width: 60%; 
}
#sortable li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em;
	padding-left: 1.5em;
	height: 18px; 
}
#sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

/*
 * NAV STYLES
 */

nav ul {
	padding: 0;
	margin: 0;
}
nav li {
	display: block;
	list-style: none;
	float: left;
	position: relative;
	background: #fff;
	border-radius: 5px 5px 0 0;
	margin-right: 3px;
	max-width: 275px;
}
nav li:hover, nav li.selected {
	background: #000;
}
nav li a {
	color: #000;
	padding: 10px 24px;
	font-size: 1.1em;
	font-weight: bold;
	font-variant: small-caps;
	display: block;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
nav li ul {
	z-index: 10;
	width: 100px;
	position: absolute;
	left: -9999px;
}
nav li ul li {
	border-radius: 0 0 5px 0;
	background: #000;
}
nav li:hover ul {
	left: 0;
}
nav li:hover a {
	color: #aaa;
}
nav li:hover a[href="#"],
nav li a:hover,
nav li.selected a {
	color: #fff;
}
nav li:hover ul li:hover a {
	color: #fff;
}

/*
 * Containers
 */

.events h1 {
	font-size: 1.5em;
}
.events h3 {
	font-size: 1.43em;
}
.events h4 {
	font-size: 1.25em;
}
.events td, 
.events th {
	padding: 4px;
	font-size: 1.2em;
	text-align: right;
}
.events .minutae td,
.events .minutae th {
	padding: 0px 4px;
	font-size: 1em;
}
.events .minutae td {
	text-align: left;
}
.events .minutae th {
	text-align: right;
	white-space: nowrap;
}

.result-listing {
	display: table-cell;
	vertical-align: top;
}
.result-listing p {
	margin-bottom: 0.5em;
}
.result-listing p img {
	position: relative;
	top: 2px;
}

ul.contents {
	list-style-type: none;
	padding-left: 0;
}
ul.contents li.h2 {
	text-indent: 2em;
}
ul.contents li.h3 {
	text-indent: 4em;
}
ul.contents li.h4 {
	text-indent: 6em;
}

/*
 * Tables
 */
  
table { 
	border-collapse: collapse;
	word-wrap: break-word;
	margin: 1em 0;
}
.t-outdent-deep {
	margin-left: -2em;
	margin-right: -2em;
}
.t-outdent {
	margin-left: -1em;
	margin-right: -1em;
}
.t-indent {
	margin-left: 1em;
	margin-right: 1em;
}
.t-indent-deep {
	margin-left: 2em;
	margin-right: 2em;
}
.t-center { 
	margin-left: auto; 
	margin-right: auto;
}
.left, 
td.left,
th.left, 
.left th,    
.left td { 
	text-align: left; 
}
.justify
td.justify,
th.justify, 
.justify th, 
.justify td { 
	text-align: justify; 
}
.right,
th.right, 
td.right,
.right th,   
.right td { 
	text-align: right; 
}
.center,
th.center, 
td.center, 
.center th,  
.center td { 
	text-align: center; 
}
table.no-overflow tr th {
	white-space: nowrap;
}
table.no-overflow tr td {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
table.no-overflow td.max-200 {
	max-width: 200px;
}
table.no-overflow td.max-175 {
	max-width: 175px;
}
table.no-overflow td.max-150 {
	max-width: 150px;
}
table.no-overflow td.max-125 {
	max-width: 125px;
}
table.no-overflow td.max-100 {
	max-width: 100px;
}
table.no-overflow td.max-75 {
	max-width: 75px;
}
table.no-overflow td.max-50 {
	max-width: 50px;
}

/* Plain */
table.plain td,
table.plain th {
	padding: 3px 7px;
}

/* Votes */
.votes th,
.votes td {
	min-width: 18px;
}

/* Slim */
.slim {
	background: #f8f8f8;
}
.slim td, 
.slim th {
	padding: 3px 7px;
	border-top: 2px dotted silver;
	border-bottom: 2px dotted silver;
}
.dotted-right { 
	border-right: 2px dotted silver; 
}
.dotted-left { 
	border-left: 2px dotted silver; 
}
.dotted-bottom { 
	border-bottom: 2px dotted silver; 
}
.dotted-top { 
	border-top: 2px dotted silver; 
}

/* Solid */
.solid tr.heading {
	font-size: 110%;
	font-variant: small-caps;
}
.solid td, 
.solid th {
	padding: 7px 11px;
}
.solid,
.solid tr.heading {
	border-bottom: 2px solid #a79645;
}
.solid tr.even {
	background: #f5f0e5;
}
.solid tr.odd {
	background: #ede4d4;
}

/* 
 * Prompts
 */

.prompt-container {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.promptbox, .or {
	text-align: center;
	padding: 5px;
}
.promptbox input {
	font-size: 1.4em;
	border-radius: 5px;
	background: #fff;
	width: 250px;
	white-space: pre-wrap;
}
.promptbox.tie input {
	font-size: .8em;
	width: 50px;
}
.or {
	width: 25px;
}
p.prompt {
	padding: 0.25em;
	margin: 0 0 -1px 0;
}

/*
 * GALLERY STYLES
 */

.story {
	clear: both;
	font-size: 1em;
	line-height: 1.8em;
	margin-bottom: 1.8em;
	text-align: justify;
}
.story hr {
	padding: 0;
	margin: 1.2em 0;
    border: none;
    border-top: medium double #333;
	border-bottom: medium solid transparent;
	position: relative;
	top: 1.05em;
    color: #333;
	background: transparent;
    text-align: center;
}
.story hr:after {
    content: "§";
	position: relative;
	top: -0.7em;
    display: inline-block;
    font-size: 1.5em;
	line-height: normal;
    padding: 0 0.25em;
    background: white;
}
.story blockquote {
	padding: 1.8em;
	margin: 0;
	border: 1px solid gainsboro;
	border-radius: 4px 0 0 0;
	box-shadow: 2px 2px 2px grey;
}
.story blockquote,
.story blockquote hr:after {
	background: #f9f9f9;
}
figure {
	max-width: 230px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0 25px 25px 0;
}
figure img {
	margin-bottom: 4px;
	border: 1px solid black;
	background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
	
	-webkit-box-shadow: 2px 2px 2px black;
	-moz-box-shadow: 2px 2px 2px black;
	box-shadow: 2px 2px 2px black;
}

/*
 * Popups
 */

.status-msg, 
.error-msg, 
.popup-msg {
	display: inline-block;
	padding: 0.7em 0.7em 0.5em 0.7em;
	white-space: nowrap;
}
.status-msg span.ui-icon, 
.error-msg span.ui-icon,
.popup-msg span.ui-icon {
	float: left;
	margin-right: .3em;
	position: relative;
	top: -2px;
}
.popup-msg {
	float: right;
	padding-bottom: 0.7em;
	font-size: 1em;
}
.popup-msg span.ui-icon {
	top: 2px;
}

/*
 * Dialogs
 */

a.dialog-fetcher:hover {
	cursor: pointer;
}
.dialog {
	min-width: 300px;
}

/*
 * Font-size chooser
 */

aside.font-size-chooser {
	padding: 0.1em 0.4em;
	float: right;
	
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none; 
	-o-user-select: none;
}
aside.font-size-chooser a:hover {
	cursor: pointer;
}
aside.font-size-chooser a {
	padding: 0 2px;
}
aside.font-size-chooser a.smaller {
	font-size: 0.5em;
}
aside.font-size-chooser a.default {
	font-size: 0.75em;
}
aside.font-size-chooser a.bigger {
	font-size: 1em;
}
aside.font-size-chooser.no-js {
	display: none;
}


/*
 * Layout classes
 */

.col {
	display: table-cell;
	vertical-align: top;
}
.col.inner,
.col.final {
	padding-left: 1.5em;
}
.br-eater {
	display: inline-block;
}
.br-eater,
.col.final,
form.light textarea,
.max-width,
.maxwidth {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}
.noafter {
	margin-bottom: 0;
}
.noafter + * {
	margin-top: 0;
}
.nowrap {
	white-space: nowrap;
}
.flat {
	line-height: 0;
}

/*
 * Miscellaneous
 */

.loading {
	background: url('images/loading.gif') no-repeat;
	padding-left: 20px;
}
.loading:before {
	content: 'Loading...';
}
.good {
	color: green;
}
.bad, .required {
	color: red;
}
.unimportant {
	color: #666;
}
.em {
	font-style: italic;
}
.strong,
.bold,
.b {
	font-weight: bold;
}
p.example {
	width: 350px; 
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
p.example textarea {
	max-height: 200px;
	max-width: 350px;
}
.inline-block {
	display: inline-block;
}
.inline-block.top {
	vertical-align: top;
}
.ui-widget p {
	margin: 1em 0;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}