<!DOCTYPE html>
<html lang="en" class="no-js {{ 'dark' IF c.session('dark') }}">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      {{ IF refresh }}
      <meta http-equiv="refresh" content="1; url={{ refresh }}">
      {{ END }}

      <title>{{ title_html | none }}</title>

      <link rel="icon" href="/favicon.ico?v=6">
      <link rel="stylesheet" href="/static/style/vendor-{{ c.config.pid }}.css">
      <link rel="stylesheet" href="/static/style/writeoff-{{ c.config.pid }}.css">

      <script>
         var timelines = [];
         var graphs = [];
         var now = new Date("{{ now.iso8601 }}Z");
         var entry_id = {{ entry.id || 'undefined' }};
         var event_id = {{ event.id || 'undefined' }};
      </script>

      {{- IF entry.noindex }}
      <meta name="robots" content="noindex">
      {{- END }}
   </head>

   <body>
      <nav class="Site-header">
         <div class="Site-header--container">
            <ul class="Site-header--global">
               <li>
                  <a href="/">
                     <img class="Site-logo" src="/static/images/logo.png">
                  </a>
               </li>
               <li class="{{ 'current' IF c.action.private_path == '/group/index' }}">
                  <a href="/groups">{{ c.string('groups') }}</a>
               </li>
               <li class="{{ 'current'
                  IF c.action.private_path == '/schedule/index'
                  || c.action.private_path == '/schedule/all' }}">
                  <a href="/schedule">{{ c.string('schedule') }}</a>
               </li>
               <li class="{{ 'current' IF c.action.private_path == '/scoreboard/index' }}">
                  <a href="/scoreboard">{{ c.string('scoreboard') }}</a>
               </li>
               <li class="{{ 'current' IF c.action.private_path == '/archive' }}">
                  <a href="/archive">{{ c.string('archive') }}</a>
               </li>
               {{ IF c.config.chat }}
               <li>
                  <a href="{{ c.config.chat }}">
                     <i class="fa fa-external-link"></i>
                     Chat
                  </a>
               </li>
               {{ END }}
               {{ IF c.controller.isa("WriteOff::Controller::Poll") }}
               <li class="current">
                  <a href="/polls" >{{ c.string('polls') }}</a>
               </li>
               {{ END }}
            </ul>

            <ul class="Site-header--user">
               {{ IF c.user }}
               <li class="Notif-bell">
                  <a href="/user/notifs">
                     <i class="fa fa-bell"></i>
                     {{ IF (n = c.user.notifs_rs.unread_rs.count) }}
                     <span class="Notif-bell--count">{{ n }}</span>
                     {{ END }}
                  </a>
               </li>
               <li>
                  <a href="/user/groups">
                     {{ c.string('myGroups') }}
                     <i class="fa fa-caret-down"></i>
                  </a>
                  <ul>
                     {{ FOREACH g IN c.user.groups }}
                     <li>
                        <a href="{{ c.uri_for_action('/group/view', [ g.id_uri ]) }}">
                           {{ g.name }}
                        </a>
                     </li>
                     {{ END }}
                  </ul>
               </li>
               <li>
                  <a href="{{ c.uri_for_action('/artist/view', [ c.user.active_artist.id_uri ]) }}">
                     @{{ c.user.active_artist.name }}
                     <i class="fa fa-caret-down"></i>
                  </a>
                  <ul>
                     {{ FOREACH artist IN c.user.artists_rs.active }}
                     <li>
                        <div class="icon">
                           <form method="post" action="/artist/swap">
                              {{ csrf_field | none }}
                              <input type="hidden" name="artist-swap" value="{{ artist.id }}">
                              <button class="Artist-swap {{ 'active' IF artist.id == c.user.active_artist_id }}">
                                 <i class="fa fa-star"></i>
                              </button>
                           </form>
                        </div>
                        {{- }}<a class="Artist-swap--option"
                           href="{{ c.uri_for_action('/artist/view', [ artist.id_uri ]) }}">{{ artist.name }}</a>
                     </li>
                     {{ END }}
                     <li>
                        <div class="icon">
                           <i class="fa fa-star transparent"></i>
                        </div>
                        {{- }}<a href="/artist/add">{{ c.string('newArtist') }}</a>
                     </li>
                  </ul>
               </li>
               <li>
                  <a href="#">
                     ~{{ c.user.username }}
                     <i class="fa fa-caret-down"></i>
                  </a>
                  <ul>
                     <li><a href="/user/prefs">Preferences</a></li>
                     <li><a href="/user/artists">{{ c.string('manageArtists') }}</a></li>
                     <li><a href="/user/credentials?key=password">Change password</a></li>
                     <li><a href="/user/credentials?key=email">Change email</a></li>
                     <li><a href="/user/logout">Logout</a></li>
                  </ul>
               </li>
               {{ ELSE }}
               <li><a href="/user/login">Login</a></li>
               <li>
                  <a href="/user/register">
                     Register
                     <i class="fa fa-caret-down"></i>
                  </a>
                  <ul>
                     <li><a href="/user/verify">Resend verification email</a>
                  </ul>
               </li>
               {{ END }}
            </ul>
         </div>
      </nav>

      <main class="Site-content">
         {{ messages.push(error_msg) IF error_msg }}
         {{ messages.push(status_msg) IF status_msg }}
         {{ FOREACH msg IN messages }}
            <div class="Global-message">{{ msg }}</div>
         {{ END }}

         {{ IF !c.session('introduced') }}
         <div class="Flash pop ctn">{{ c.string('introSplash') | markdown }}</div>
         {{ END }}

         {{ IF group }}
            {{ INCLUDE group/single.tt }}
         {{ END }}

         {{ IF event }}
            {{ INCLUDE event/single.tt }}
         {{ END }}

         {{ content | none }}
      </main>

      <footer class="Site-footer">
         <div class="Site-footer--container">
            <div class="Site-footer--links">
               <a href="/tos">{{ c.document('tos').title }}</a>
               <a href="/rights">{{ c.document('rights').title }}</a>
               <a href="/intro">{{ c.document('intro').title }}</a>
               <a href="/faq">FAQ</a>
               <a href="//github.com/RogerDodger/WriteOff">Source code</a>
               <a href="mailto:cthor@cpan.org">Email me</a>
            </div>
            <div>
               {{ now.datetime_html | none }}
            </div>
         </div>
      </footer>
   </body>

   <script src="/static/js/vendor-{{ c.config.pid }}.js"></script>
   {{ IF c.debug }}
   <script src="/static/js/writeoff-{{ c.config.pid }}.js"></script>
   {{ ELSE }}
   <script src="/static/js/writeoff-{{ c.config.pid }}.min.js"></script>
   {{ END }}
</html>
