<div class="Document">
	<div class="Document-title">{{ c.string('400') }}</div>

	<div class="Flash">
		<span class="fa fa-warning"></span>
		{{ error }}
	</div>

	{{ IF c.res.status.match('^5') }}
		{{ c.string('errorsPersist') | markdown }}
	{{ END }}
</div>
