[% USE cache = Cache %]
<h1>[% title.-1 %]</h1>

[%- IF events.count %]
<div class="events">
	[%- WHILE (event = events.next) %]
	[%
		cache.inc(
			'template' => 'event/single.tt',
			'ttl' => 360,
			'keys' => {
				'type' => 'event-listing',
				'id' => event.id,
			},
		)
	%]
	[% END %]
</div>
[%- ELSE %]
<p>No events found.</p>
[%- END %]
