[% FILTER markdown %]

Rules
=====

Failure to adhere to any of the following may be grounds for
submissions being removed. Repeat or serious offences may result
in culprits being barred from entering future events.

Generic
-------

1. Submitted works may not be submitted elsewhere until the event's conclusion.
2. Submitted written works&mdash;
	1. must be written primarily in English; and
	[%- IF event.art %]
	2. must be based on at least one of the submitted artworks to a reasonable
	and discernible degree, with each related artwork&mdash;and only the
	related artwork(s)&mdash;indicated on submission.
	[%- ELSIF event.has_prompt %]
	3. must be based on the prompt to a reasonable and discernible degree.
	[%- END %]
[%- IF event.art && event.has_prompt %]
3. Submitted artworks must be based on the prompt to a reasonable and discernible degree.
[%- END %]
4. Participants&mdash;
	[%- IF event.art %]
	1. may start drawing only after [% start %];
	2. may start writing only after the artworks are released;
	[%- ELSE %]
	1. may start writing only after [% start %];
	[%- END %]
	2. may not disclose their authorship explicitly or implicitly until this website has done so;
	3. may not submit works explicitly connected to another work of theirs; and
	4. may not attempt to doctor the votes in any way that may give them or
	another person an unfair advantage.

[%- IF event.custom_rules %]

Custom
------

[% event.custom_rules | html %]

[%- END %]

Legal
-----

1. Submitted works&mdash;
	1. must be the work of the submitter;
	2. may not include the likeness of any living persons without express
	prior written consent, with exception to cases of parody and/or satire,
	i.e., if the persons presented in the work are distinctly caricatures;
	3. may not be spiteful and/or hateful in nature; and
	4. may not depict any sexual abuse of minors (See [18 USC § 1466A](http://www.law.cornell.edu/uscode/text/18/1466A) for specifics).

Content
-------

[%- SWITCH event.content_level -%]

[%- CASE 'E' %]

This event's content level is **E** for Everybody. This is loosely defined
as material suitable for all ages.

* Submitted works may not contain&mdash;
	* coarse language;
	* drug references;
	* sexual references;
	* adult themes;
	* excessive violence;
	* depictions of sexual acts; or
	* grotesque content.

[%- CASE 'T' %]

This event's content level is **T** for Teen. This is loosely defined as
material suitable for teenagers.

* Submitted works may not contain&mdash;
	* depictions of sexual acts; or
	* grotesque content.

[%- CASE 'M' %]

This event's content level is **M** for Mature. Anything not prohibited by
other rules is allowed.

[%- END %]

<h2 id="Formatting">Story Formatting</h2>

To aid with author anonymity, the following formatting rules must be applied
to all submitted stories.

1. Paragraphs should be separated by a single blank line.
2. Scene breaks should be indicated by an [hr] in its own paragraph.
3. Weak scene breaks should be indicated by a blank paragraph, i.e, three blank lines.
4. Sentences should be separated by a single space.

### Example ###

<div><textarea class="example" rows="12" cols="48" disabled="disabled">[% INCLUDE fic/formatting.tt %]</textarea></div>

__Participants should not put their name or other metadata inside of the
story field.__ The *story* field should only have the *story* in it.

[% END %]
