<div class="Post-author">
	<a class="Post-author--name {{ 'admin' IF artist.user.admin }}"
		href="{{ c.uri_for_action('/artist/view', [ artist.id_uri ]) }}">
		{{ artist.name }}
	</a>

	<div class="Post-author--avatar">
		<img src="{{ artist.avatar }}">
	</div>
</div>
