<div class="Post-submit">
	<form class="Form" method="post" action="/post/add">
		{{ csrf_field | none }}
		<input type="hidden" name="event" value="{{ event.id }}">
		{{ IF entry }}
		<input type="hidden" name="entry" value="{{ entry.id }}">
		{{ END }}

		{{ INCLUDE 'post/form.tt' }}

		<div class="Post-form--senders">
			<button type="submit">
				<i class="fa fa-comment"></i>
				Post comment
			</button>
		</div>
	</form>
</div>
