{{- IF num }}
<div class="Entry-nav">
	<a href="{{ c.uri_for(c.action, [ prev.id_uri ]) }}">« Prev</a>
	&nbsp;
	<strong>{{ num }}</strong>
	&nbsp;
	<a href="{{ c.uri_for(c.action, [ next.id_uri ]) }}">Next »</a>
</div>
{{- END }}
