[% TAGS {{ }} %]

<div class="Document">
	<div class="Document-title">
		Fic Editing
	</div>

	<div class="Countdown">
		{{ IF story.event.fic_end > now }}
			{{ event.fic_end.delta_html }}
		{{ ELSE }}
			{{ c.string('subsClosed') }}
		{{ END }}
	</div>

	{{ INCLUDE fic/form.tt }}
</div>
