<div class="Story-container">
	<div class="Story-title">{{ story.title }}</div>

	{{ IF story.published }}
	<div class="Story" style="font-family: {{ c.user.font || 'serif' }}">
		{{ story.contents | bbcode }}
		<!-- {{ story.wordcount }} words -->
	</div>
	{{ ELSE }}
	<div class="Story-redacted">
		{{ c.string('storyRedacted') }}
	</div>
	{{ END }}

	{{ INCLUDE entry/nav.tt }}
</div>

{{ IF posts }}
	{{ INCLUDE post/list.tt }}
{{ END }}
