<h2>Event Listing</h2>
[% INCLUDE event/list.tt %]
<p>
[% IF c.action == 'index' %]
	<span class="fake-ui-button">Active events</span>
	<a class="ui-button" href="[% c.uri_for('/archive') %]">Event archive</a>
[% ELSE %]
	<a class="ui-button" href="[% c.uri_for('/') %]">Active events</a>
	<span class="fake-ui-button">Event archive</span>
[% END %]
[%- IF c.check_user_roles('admin') %]
	<a class="ui-button" href="[% c.uri_for('/event/add') %]">Add new event</a>
[%- END %]
</p>