<!DOCTYPE html>
<html lang="en">

[%- IF template.name.match('^email/') %]

<head>
	<meta charset="utf-8" />
	<title>[% email.subject || name %]</title>
</head>

<body>

[% content %]

</body>

[%- ELSE %]

<head>
<meta charset="utf-8" />

<title>[% title.list.join(' - ') || name | html %]</title>

<!--[if lt IE 9]>
	<script src="[% c.uri_for('/static/js/html5shiv.js') %]"></script>
<![endif]-->

<link rel="icon" href="[% c.uri_for('/favicon.ico') %]" />
<link rel="stylesheet" href="[% c.uri_for('/static/css/jquery-ui-1.8.22.custom.css') %]" />
<link rel="stylesheet" href="[% c.uri_for('/static/css/writeoff-0.10.css') %]" />

<script src="[% c.uri_for('/static/js/jquery-1.7.2.min.js') %]" ></script>
<script src="[% c.uri_for('/static/js/jquery-ui-1.8.22.custom.min.js') %]" ></script>
<script src="[% c.uri_for('/static/js/writeoff-0.07.js') %]" ></script>

</head>

<body>

<nav>
[% 
	navs = [ 
		{ action => c.controller('Root').action_for('index'),       name => 'Events' },
		{ action => c.controller('Root').action_for('faq'),         name => 'FAQ' },
		{ action => c.controller('Scoreboard').action_for('index'), name => 'Scoreboard' },
		{ action => c.controller('User').action_for('list'),        name => 'Users' },
	];
%]
	<ul>
	[%- FOREACH nav IN navs %]
		<li>
			<a href="[% c.uri_for( nav.action ) %]">[% nav.name %]</a>
		</li>
	[%- END %]
	
	[%- IF c.user %]
		<li>
			<a href="#">~[% c.user.username %] &#9660;</a>
			<ul>
				<li><a href="[% c.uri_for('/user/me') %]">My Submissions</a></li>
				<li><a href="[% c.uri_for('/user/settings') %]">Settings</a></li>
				<li><a href="[% c.uri_for('/user/logout') %]">Logout</a></li>
			</ul>
		</li>
	[%- ELSE %]
		<li>
			<a class="dialog-activator" data-target="Login" href="#Login">Login / Register</a>
		</li>
	[%- END %]
	</ul>
	
	<div style="clear: both"></div>
</nav>

[%- IF !c.user %]
<form class="dialog light" id="Login" title="User Login" method="post"
	action="[% c.uri_for( c.controller('User').action_for('login') ) %]">
	<p>
		<label>Username</label>
		<input type="text" name="Username" size="32" style="width: 100%"
			placeholder="JoeBlow" required />
	</p>
	<p>
		<label>Password</label>
		<input type="password" name="Password" size="32" style="width: 100%"
			placeholder="hunter2" required />
	</p>
	<p>
		<input class="ui-helper-reset" type="submit" value="Login" />
		<a class="ui-button" href="[% c.uri_for( c.controller('User')
			.action_for('recover') ) %]">Forgot Password?</a>
			
		<a class="ui-button" href="[% c.uri_for( c.controller('User')
			.action_for('register') ) %]" style="float: right">Register</a>
	</p>
</form>
[%- END %]

<article>
	
[%- IF status_msg %]
	<div class="popup-msg ui-widget">
		<div class="ui-state-highlight ui-corner-all">
			<span class="ui-icon ui-icon-check"></span> 
			[% status_msg %]
		</div>
	</div>
[%- END -%]
[%- IF error_msg %]
	<div class="popup-msg ui-widget">
		<div class="ui-state-error ui-corner-all">
			<span class="ui-icon ui-icon-alert"></span> 
			<strong>Error:</strong> [% error_msg %]
		</div>
	</div>
[%- END %]

[% content %]

</article>

<footer>
	<p>
		It is currently 
		[% format_dt( now, '%a, %d %b %Y %T %z (%Z)' ) %]
	</p>
	<p>
		<a class="link new-window" href="https://github.com/RogerDodger/WriteOff">
			WriteOff.pm
		</a>
		[% 'v' _ c.app_version.replace('_', '.') %]
		&ndash; Written by RogerDodger
	</p>
[%- IF c.config.footer_addendum %]
	<hr />
	[% md_render( c.config.footer_addendum ) %]
[%- END %]
</footer>

</body>

[%- END %]

</html>