<!DOCTYPE html>
<html lang="en">

[%- IF template.name.match('^email/') %]

<head>
	<meta charset="utf-8" />
	<title>[% email.subject || name %]</title>
</head>

<body>

[% content %]

</body>

[%- ELSE %]

<head>
	<meta charset="utf-8" />

	<title>[% title.list.title_format %]</title>

	<link rel="icon" href="[% c.uri_for('/favicon.ico') %]" />
	<link rel="stylesheet" href="[% c.uri_for('/static/css/jquery-ui-1.8.22.custom.css') %]" />
	<link rel="stylesheet" href="[% c.uri_for('/static/css/writeoff-0.11.css') %]" />
	
	<script src="[% c.uri_for('/static/js/modernizr-2.6.2.custom.min.js') %]"></script>
	<script src="[% c.uri_for('/static/js/jquery-1.7.2.min.js') %]" ></script>
	<script src="[% c.uri_for('/static/js/jquery-ui-1.8.22.custom.min.js') %]" ></script>
	<script src="[% c.uri_for('/static/js/writeoff-0.08.js') %]" ></script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = [
			[ '_setAccount', 'UA-35896457-1' ],
			[ '_trackPageview' ]
		);

		(function(d) {
			var ga = d.createElement('script');
			ga.async = true;
			ga.src = ('https:' == d.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = d.getElementsByTagName('script')[0]; 
			s.parentNode.insertBefore(ga, s);
		})(document);
	</script>

</head>

<body>

<nav>
[% 
	navs = [ 
		{ action => c.controller('Root').action_for('index'),       name => 'Events' },
		{ action => c.controller('Root').action_for('faq'),         name => 'FAQ' },
		{ action => c.controller('Scoreboard').action_for('index'), name => 'Scoreboard' },
		{ action => c.controller('User').action_for('list'),        name => 'Users' },
	];
%]
	<ul>
	[%- FOREACH nav IN navs %]
		<li>
			<a href="[% c.uri_for( nav.action ) %]">[% nav.name %]</a>
		</li>
	[%- END %]
	
	[%- IF c.user %]
		<li>
			<a href="#">~[% c.user.username %] &#9660;</a>
			<ul>
				<li><a href="[% c.uri_for('/user/me') %]">My Submissions</a></li>
				<li><a href="[% c.uri_for('/user/settings') %]">Settings</a></li>
				<li><a href="[% c.uri_for('/user/logout') %]">Logout</a></li>
			</ul>
		</li>
	[%- ELSE %]
		<li>
			<a class="dialog-activator" data-target="Login" href="#Login">Login / Register</a>
		</li>
	[%- END %]
	</ul>
	
	<div style="clear: both"></div>
</nav>

[%- IF !c.user %]
<form class="dialog light" id="Login" title="User Login" method="post"
	action="[% c.uri_for( c.controller('User').action_for('login') ) %]">
	<p>
		<label>Username</label>
		<input type="text" name="Username" size="32" style="width: 100%"
			placeholder="JoeBlow" required />
	</p>
	<p>
		<label>Password</label>
		<input type="password" name="Password" size="32" style="width: 100%"
			placeholder="hunter2" required />
	</p>
	<p>
		<input class="ui-helper-reset" type="submit" value="Login" />
		<a class="ui-button" href="[% c.uri_for( c.controller('User')
			.action_for('recover') ) %]">Forgot Password?</a>
			
		<a class="ui-button" href="[% c.uri_for( c.controller('User')
			.action_for('register') ) %]" style="float: right">Register</a>
	</p>
</form>
[%- END %]

<article>
	
[%- IF status_msg %]
	<p class="popup-msg ui-state-highlight ui-corner-all">
		<span class="ui-icon ui-icon-check"></span> 
		[% status_msg %]
	</p>
[%- END -%]
[%- IF error_msg %]
	<p class="popup-msg ui-state-error ui-corner-all">
		<span class="ui-icon ui-icon-alert"></span> 
		<strong>Error:</strong> [% error_msg %]
	</p>
[%- END %]

[% content %]

</article>

<footer>
	<p>
		It is currently 
		[% format_dt( now, '%a, %d %b %Y %T %z (%Z)' ) %]
	</p>
	<p>
		<a class="link new-window" href="https://github.com/RogerDodger/WriteOff">
			WriteOff.pm
		</a>
		[% c.app_version %]
		&ndash;
		<a class="link new-window" href="[% c.uri_for('/humans.txt') %]">
			humans.txt
		</a>
	</p>
	<p>
		<a class="link" href="[% c.uri_for( c.controller('Root').action_for('tos') ) %]">
			Terms of Service
		</a>
		|
		<a class="link" href="[% c.uri_for( c.controller('Root').action_for('contact') ) %]">
			Contact Us
		</a>
	</p>
[%- IF c.config.footer_addendum %]
	<hr />
	[% md_render( c.config.footer_addendum ) %]
[%- END %]
</footer>

</body>

[%- END %]

</html>