<!DOCTYPE html>
<html lang="en" class="no-js">

[%- IF template.name.match('^email/') || 
	c.req.header('x-requested-with') == 'XMLHttpRequest' %]

<head>
	<meta charset="utf-8" />
	<title>[% name %]</title>
</head>

<body>

[% content %]

</body>

[%- ELSE -%]

<head>
	<meta charset="utf-8" />

	<title>[% head_title %]</title>

	<link rel="icon" href="[% c.uri_for('/favicon.ico') %]">
	<link rel="stylesheet" href="[% c.uri_for('/static/css/normalize.css') %]">
	<link rel="stylesheet" href="[% c.uri_for('/static/css/jquery-ui-1.9.2.custom.css') %]">
	<link rel="stylesheet" href="[% c.uri_for('/static/css/writeoff-0.26.css') %]">
	
	<script src="[% c.uri_for('/static/js/modernizr-2.6.2.custom.min.js') %]"></script>
	<script src="[% c.uri_for('/static/js/jquery-1.7.2.min.js') %]"></script>
	<script src="[% c.uri_for('/static/js/jquery-ui-1.9.2.custom.min.js') %]"></script>
	<script src="[% c.uri_for('/static/js/jquery.cookie.js') %]"></script>
	<script src="[% c.uri_for('/static/js/writeoff-0.16.js') %]"></script>
	
	[%- IF c.config.use_google_analytics %]
	<!-- Google Analytics -->
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '[% c.config.google_analytics_id %]']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
	[%- END %]

</head>

<body>

<nav>
[% 
	navs = [ 
		{ action => c.controller('Root').action_for('index'),       name => 'Events' },
		{ action => c.controller('News').action_for('list'),        name => 'News' },
		{ action => c.controller('Root').action_for('faq'),         name => 'FAQ' },
		{ action => c.controller('Scoreboard').action_for('index'), name => 'Scoreboard' },
		{ action => c.controller('User').action_for('list'),        name => 'Users' },
	];
%]
	<ul>
	[%- FOREACH nav IN navs %]
		<li>
			<a href="[% c.uri_for( nav.action ) %]">[% nav.name %]</a>
		</li>
	[%- END %]
	
	[%- IF c.user %]
		<li>
			<a href="#">~[% c.user.username %] &#9660;</a>
			<ul>
				<li><a href="[% c.uri_for('/user/me') %]">My Submissions</a></li>
				<li>
					<a class="dialog-fetcher" 
						href="[% c.uri_for('/user/settings') %]">Settings</a>
				</li>
				<li><a href="[% c.uri_for('/user/logout') %]">Logout</a></li>
			</ul>
		</li>
	[%- ELSE %]
		<li>
			<a class="dialog-fetcher" 
				href="[% c.uri_for('/user/login') %]">Login / Register</a>
		</li>
	[%- END %]
	</ul>
	
	<div class="clearfix"></div>
</nav>

<article>
[%- IF c.config.read_only %]
	<p class="popup-msg ui-state-highlight ui-corner-all">
		<span class="ui-icon ui-icon-alert"></span> 
		The site is currently in read only mode
	</p>
[%- END %]
[%- IF status_msg %]
	<p class="popup-msg ui-state-highlight ui-corner-all">
		<span class="ui-icon ui-icon-check"></span> 
		[% status_msg %]
	</p>
[%- END -%]
[%- IF error_msg %]
	<p class="popup-msg ui-state-error ui-corner-all">
		<span class="ui-icon ui-icon-alert"></span> 
		<strong>Error:</strong> [% error_msg %]
	</p>
[%- END %]

[% content %]

</article>

<footer>
	<p>
		It is currently 
		[% format_dt( now, '%a, %d %b %Y %T %z (%Z)' ) %]
	</p>
	<p>
		<a class="link new-tab" href="https://github.com/RogerDodger/WriteOff">
			WriteOff.pm
		</a>
		[% c.app_version %]
		&ndash;
		<a class="link new-tab" href="[% c.uri_for('/humans.txt') %]">
			humans.txt
		</a>
	</p>
	<p>
		<a class="link" href="[% c.uri_for( c.controller('Root').action_for('tos') ) %]">
			Terms of Service
		</a>
		|
		<a class="link" href="[% c.uri_for( c.controller('Root').action_for('contact') ) %]">
			Contact Us
		</a>
	</p>
[%- IF c.config.footer_addendum %]
	<div style="margin-top: 0.5em">
		[% md_render( c.config.footer_addendum ) %]
	</div>
[%- END %]
</footer>

</body>

[%- END %]

</html>