@page {
	margin-bottom: 5.000000pt;
	margin-top: 5.000000pt;
}

body {
	text-align: justify;
	margin: 2%;
	adobe-text-layout: optimizeSpeed;
}

h1,
h2,
h5,
h6,
.art,
.redacted {
	text-align: center;
}

img {
	width: 100%;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
