// =============================================================================
// Artist profile styles
// =============================================================================

.Artist-profile {
	display: flex;
	flex-direction: row;
	max-width: $container-overflow;
}

.Artist-sidebar {
	width: 100%;
	max-width: 15rem;
	margin-right: 3rem;

	& > * + * {
		margin-top: 0.5rem;
	}
}

.Artist-body {
	width: 100%;
}

@media (max-width: $container-wide) {
	.Artist-profile {
		flex-direction: column;
		align-items: center;
	}

	.Artist-sidebar {
		margin-right: 0;
	}
}

.Artist-avatar {
	width: 13rem;
	height: 13rem;
	margin: 0 auto;

	padding: 0.2rem;
	background: white;

	img { width: 100%; height: 100%; }
}

.Artist-name {
	margin: 0.5rem 0;
	font-size: 1.2em;
	font-weight: bold;

	a, a:visited {
		color: inherit;
	}
}

.Artist-bio {
	font-size: 0.9em;
}

.Artist-joined {
	margin-top: 0.8rem;
	font-size: 0.9em;
	color: #666;
}

.Artist-edit--button {
	a {
		@include button($hue: 120);
		width: 100%;
		padding: 0.6rem;
		text-align: center;
	}
}

.Artist-nav {
	width: 100%;
	list-style-type: none;
	padding: 0;
	border-bottom: 0.05em solid #aaa;

	li {
		display: inline-block;
		padding-left: 0;
		margin: 0 1em;

		a {
			display: inline-block;
			padding: 0.7em 0.3em;
			color: #666;
			border-bottom: 0.05em solid transparent;
			transition: 0.2s all;
		}

		a:hover {
			border-color: #aaa;
		}

		&.current a {
			font-weight: bold;
			border-color: hsla(200, 90%, 50%, 1);
		}

		a:hover,
		&.current a {
			text-decoration: none;
			color: inherit;
		}
	}
}

.Artist-nav--count {
	display: inline-block;
	font-weight: bold;
	padding: 0.2em 0.35em;
	background-color: hsla(0, 0%, 88%, 1);
	border-radius: 0.4em;
	font-size: 0.7em;
	line-height: 1;
	position: relative;
	top: -0.15em;
}

.Artist-entries {
	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap: 1em;

	@media #{$mobile} {
		grid-template-columns: 1fr;
	}
}

.Artist-entry {
	border: 0.05em solid #ccc;
	border-radius: 0.2em;
	background: white;
	line-height: 1;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.Artist-entry--title {
	flex-grow: 1;
	font-size: 1.3em;
	margin-bottom: 0.5em;
	word-wrap: break-word;
}

.Artist-entry--meta {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	color: #777;
}

.Artist-entry--deadline {
	white-space: nowrap;

	a {
		color: inherit;
	}

	a:hover {
		text-decoration: underline;
	}

	padding-right: 0.6em;
}

.Artist-entry--separator {
	width: 0.07em;
	background: #ccc;

	$overflow: 0.4em;
	height: 1em + ($overflow * 2);
	margin-bottom: -1 * $overflow;
	position: relative;
	top: -0.5 * $overflow;
}

.Artist-entry--placing {
	padding-left: 0.6em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Artist-entry--awards .Award {
	width: 1.3em;
	height: 1.3em;
}

.Artist-entry--pct,
.Artist-entry--score {
	padding-left: 0.3em;
}

.Artist-entry--mode {
	flex-grow: 1;
	text-align: end;
	text-transform: uppercase;
	font-size: 0.8em;
	padding-left: 0.3em;
}

.Artist-edit {
	@extend .Document;
}

// Used to search for organisers/judges

.Artist-search--results {
	border: 0.1em solid #ccc;
	border-radius: 0.25em;
}

.Artist-search--result {
	background-color: hsla(0, 0%, 99%, 1);
	padding: 0.2em;

	img {
		height: 1.5em;
		width: 1.5em;
	}

	&:hover {
		cursor: pointer;
		background-color: hsla(51, 80%, 92%, 1);
	}

	&:not(:last-child) {
		border-bottom: 0.1em solid #ccc;
	}
}

.Artist-search--id {
	color: #888;
}
