// =============================================================================
// Context-independent components, mostly mixins
// =============================================================================

@mixin button($hue: 200, $sat: 30%, $l: 80%) {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	line-height: 1;
	padding: 0.8em;
	text-decoration: none;
	vertical-align: middle;

	background: hsla($hue, $sat, $l, 1);
	border-color: hsla($hue, $sat, $l * .75, 1);
	color: hsla($hue, $sat, $l * .2, 1);

	&:hover {
		cursor: pointer;
		background: hsla($hue, $sat, $l * .95, 1);
		text-decoration: none;
	}

	&:active {
		box-shadow: 0 0.5em 0.7em hsla($hue, $sat, $l * .9, 1) inset;
	}
}

@mixin button-group($hue: 200, $sat: 30%, $l: 80%) {
	list-style-type: none;
	padding: 0;

	li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: -1px;
			margin-bottom: -1px;
		}

		a {
			@include button($hue, $sat, $l);
		}
	}
}

@mixin divider($hue: 0, $sat: 0%, $l: 60%) {
	$bg: hsla($hue, $sat, $l, 1);
	display: block;
	background: linear-gradient(to right, transparent 0%, $bg 10%, $bg 90%, transparent 100%);
	width: 80%;
	height: 1px;
	margin: 1.2em auto;
}

.Countdown {
	font-size: 1.2em;
	margin: 1em 0;
	text-align: center;
}

.Flash {
	background: hsla(200, 50%, 85%, 1);
	border: 1px solid hsla(200, 50%, 65%, 1);
	color: hsla(200, 50%, 20%, 1);
	font-size: 0.8em;
	padding: 1em;
	margin-bottom: 1em;
}
