// =============================================================================
// Context-independent components, mostly mixins
// =============================================================================

@mixin button($hue: 200, $sat: 30%, $l: 80%) {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	line-height: 1;
	padding: 0.8em;
	text-decoration: none;
	vertical-align: middle;

	background: hsla($hue, $sat, $l, 1);
	border-color: hsla($hue, $sat, $l * .75, 1);
	color: hsla($hue, $sat, $l * .2, 1);

	&:hover {
		cursor: pointer;
		background: hsla($hue, $sat, $l * .95, 1);
		text-decoration: none;
	}

	&:active {
		box-shadow: 0 0.5em 0.7em hsla($hue, $sat, $l * .9, 1) inset;
	}
}

@mixin button-group($hue: 200, $sat: 30%, $l: 80%) {
	list-style-type: none;
	padding: 0;

	li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: -1px;
			margin-bottom: -1px;
		}

		a {
			@include button($hue, $sat, $l);
		}
	}
}

@mixin divider($hue: 0, $sat: 0%, $l: 60%) {
	$bg: hsla($hue, $sat, $l, 1);
	display: block;
	background: linear-gradient(to right, transparent 0%, $bg 10%, $bg 90%, transparent 100%);
	width: 80%;
	height: 1px;
	margin: 1.2em auto;
}

@mixin table-divider {
	background-color: transparent;
	padding: 0;

	&:before {
		@include divider;
		content: " ";
	}
}

@mixin striped-table($hue: 200, $sat: 30%) {
	width: 100%;

	& > thead > tr {
		& > th {
			font-size: 1.1em;
			font-weight: normal;
			padding: 0.3em 0.8em;
			text-align: center;

			& + th {
				padding-left: 0;
			}
		}
	}

	& > tbody > tr {
		&:nth-child(odd) > td {
			background-color: hsla($hue, $sat, 90%, 1);
		}

		&:nth-child(even) > td {
			background-color: hsla($hue, $sat, 95%, 1);
		}

		& > td.Table-divider {
			@include table-divider;
		}

		& > td {
			padding: 0.8em;

			& + td {
				padding-left: 0;
			}
		}
	}
}

.Countdown {
	font-size: 1.2em;
	margin: 1em 0;
	text-align: center;
}

.Flash {
	background: hsla(200, 50%, 85%, 1);
	border: 1px solid hsla(200, 50%, 65%, 1);
	color: hsla(200, 50%, 20%, 1);
	font-size: 0.8em;
	padding: 1em;
	margin-bottom: 1em;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.Form {
	label {
		color: #666;
		display: block;
		font-weight: bold;
		font-size: 0.85em;
		font-variant: small-caps;
		text-shadow: 0 1px 1px #fff;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="number"],
	input[type="search"],
	input[type="datetime"],
	textarea {
		border: 1px solid #aaa;
		padding: 4px;
		border-radius: 4px;
		width: 100%;
	}

	textarea {
		font-size: 0.8em;
		margin-bottom: 0;
	}
}

.Form-group {
	p {
		float: left;
	}

	p:not(:first-child) {
		padding-left: 0.5em;
	}

	p:not(:last-child) {
		padding-right: 0.5em;
	}

	&.two p {
		width: 50%;
	}
}

.Form-submit {
	@include button($hue: 120, $sat: 50%);
	font-size: 1.05em;
}
