.Document {
	@extend .Canvas;

	margin-top: 1em;

	&.narrow {
		max-width: $container-narrow;
	}

	& > :last-child {
		margin-bottom: 0;
	}

	pre {
		background: hsla(0, 0%, 93%, 1);
		border: 1px solid hsla(0, 0%, 80%, 1);
		border-radius: 0.25em;
		font-size: 0.85em;
		padding: 0.4em;
	}
}

.Last {
	margin-bottom: 0;
}

.First {
	margin-top: 0;
}

.Document-title {
	border-bottom: 1px solid hsla(0, 0%, 80%, 1);
	font-size: 1.5em;
	margin-bottom: 1em;
	padding-bottom: 0.6em;
}

.Document-subtitle {
	$bg: hsla(0, 0%, 70%, 1);
	background: linear-gradient(to right, transparent 10%, $bg 25%, $bg 75%, transparent 90%);
	height: 1px;
	color: hsla(0, 0%, 30%, 1);
	font-size: 1.2em;
	line-height: 0;
	margin: 2.5em 0 1.5em;
	text-align: center;

	span {
		background-color: hsla(0, 0%, 98%, 1);
		padding: 0 0.5em;
	}
}

.Document-topic--title {
	color: hsla(0, 0%, 23%, 1);
	font-size: 1.03em;
	font-weight: bold;

	&:not(:first-child) {
		margin-top: 1.5em;
	}

	& + p {
		margin-top: 0.1em;
	}
}

.Document-section--title {
	border-bottom: 1px solid hsla(0, 0%, 75%, 1);
	color: hsla(0, 0%, 28%, 1);
	font-size: 1.3em;
	padding-bottom: 0.2em;
	margin-bottom: 0.5em;
	margin-top: 1.7em;
}

.Document-index {
	position: sticky;
	top: 0;
	float: right;
	font-size: 0.8em;
	margin-left: 2rem;
	width: 25%;
}

.Document-body {
	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

.Document-index + .Document-body {
	float: right;
	width: calc(75% - 2em);
}

.Document-index--topic {
	padding-left: 1em;
}

.Document-index--section,
.Document-index--topic {
	margin-top: 0.2em;
}

