.Document {
	@extend .Canvas;

	margin-top: 1em;

	&.wide {
		max-width: 1040px;
	}
}

.Document > *:last-child {
	margin-bottom: 0;
}

.Document-title {
	border-bottom: 1px solid hsla(0, 0%, 80%, 1);
	font-size: 1.5em;
	margin-bottom: 1em;
	padding-bottom: 0.6em;
}

.Document-subtitle {
	border-bottom: 1px solid hsla(0, 0%, 60%, 1);
	color: hsla(0, 0%, 30%, 1);
	font-size: 1.2em;
	line-height: 0;
	margin: 2.5em 0 1.5em;
	text-align: center;

	span {
		background-color: hsla(0, 0%, 98%, 1);
		padding: 0 0.5em;
	}
}

.Document-topic--title {
	color: hsla(0, 0%, 23%, 1);
	font-size: 1.2em;

	&:not(:first-child) {
		margin-top: 1.5em;
	}

	&:after {
		$bg: hsla(0, 0%, 75%, 1);
		display: block;
		height: 1px;
		content: " ";
		background: linear-gradient(to right, $bg 0%, $bg 40%, transparent 60%, transparent 100%);
		margin-top: 0.2em;
	}
}

.Document-section--title {
	color: hsla(0, 0%, 28%, 1);
	font-size: 1.3em;

	&:not(:first-child) {
		margin-top: 1.7em;
	}
}

.Document-section--title,
.Document-topic--title {
	& + p {
		margin-top: 0.3em;
	}
}

.Document-index {
	position: sticky;
	top: 0;
	float: right;
	font-size: 0.8em;
	margin-left: (2em / 0.8);
	width: 25%;
}

.Document-index--topic {
	padding-left: 1em;
}

.Document-index--section,
.Document-index--topic {
	margin-top: 0.2em;
}

.Document-body {
	float: right;
	width: calc(75% - 2em);

	& > *:first-child {
		margin-top: 0;
	}
}
