// =============================================================================
// Entry stylings (fic/art common styles)
// =============================================================================

.Entrys {
	@include striped-table;
}

.Entrys-edit,
.Entrys-title,
.Entrys-artist,
.Entrys-filesize,
.Entrys-filetype {
	text-align: center;
}

.Entry-nav {
	text-align: center;
}

.Entrys-rels {
	@include striped-list;
	margin-bottom: 2em;
}

.Entrys-rels--label {
	font-size: 1.1em;
}

.Entrys-rels--title {
	text-align: start;
}

.Entry-votes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(3.5em, 1fr));
	grid-gap: 0.5em 0;
	grid-auto-rows: minmax(4em, auto);
}

.Entry-votes--ballot {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	margin-left: -1px;
}

.Entry-votes--pct {
	font-size: (10em / 16);
	text-align: center;
	margin: 0 -1px;

	$l: red;
	$d: transparent;
	$fade-start: (18em / 10);
	$fade-end: (12em / 10);

	background-position: center;
	background-repeat: no-repeat;
	background-size: auto (3em / 10);
	background-image: linear-gradient(to left,
		$l,
		$l calc(50% - #{$fade-start}),
		$d calc(50% - #{$fade-end}),
		$d calc(50% + #{$fade-end}),
		$l calc(50% + #{$fade-start}),
		$l);

	z-index: 1;
}

.Entry-votes--pips {
	display: grid;
	grid-template-columns: repeat(5, minmax(0.5em, auto));
	grid-auto-flow: row;
	grid-auto-rows: minmax(0.5em, auto);
	justify-content: center;
	align-content: end;
	align-items: end;
	justify-items: end;
	width: 100%;
	overflow: hidden;
}

.Entry-votes--pips:last-child {
	transform: scaleY(-1);
}

.Entry-votes--pip {
	height: (8em / 16);
	width: auto;
}

.Entry-votes--pip:nth-child(10n+11) {
	margin-top: (3em / 16);
}

.Entry-votes--pip:nth-child(50n+51) {
	margin-top: (6em / 16);
}
