// =============================================================================
// Entry stylings (fic/art common styles)
// =============================================================================

.Entrys {
	@include striped-table;
}

.Entrys-edit,
.Entrys-title,
.Entrys-artist,
.Entrys-filesize,
.Entrys-filetype {
	text-align: center;
}

.Entry-nav {
	text-align: center;
}

.Entrys-rels {
	@include striped-list;
	margin-bottom: 2em;
}

.Entrys-rels--label {
	font-size: 1.1em;
}

.Entrys-rels--title {
	text-align: start;
}

.Entry-votes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
	grid-gap: 0.5em 0;
	grid-auto-rows: minmax(8em, auto);
}

.Entry-votes--ballot {
	display: flex;
	flex-direction: column;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	margin-left: -1px;
}

.Entry-votes--mid {
	display: grid;
	flex-shrink: 0;
	margin: 0.1em 0;

	&:first-child { margin-top: 0 }
	&:last-child { margin-bottom: 0 }

	& > * {
		grid-row: 1;
		grid-column: 1;
		align-self: center;
		justify-self: center;
	}
}

.Entry-votes--stripe {
	// $fade-start: (11em / 16);
	// $fade-end: (6em / 16);
	$fade-start: (30em / 16);
	$fade-end: (22em / 16);

	background-image: linear-gradient(to left,
		red,
		red calc(50% - #{$fade-start}),
		transparent calc(50% - #{$fade-end}),
		transparent calc(50% + #{$fade-end}),
		red calc(50% + #{$fade-start}),
		red);

	height: (4em / 16);
	width: 100%;
}

.Entry-votes--pct {
	font-size: (9em / 16);
}

.Entry-votes--pips {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: (8em / 16);
}

.Entry-votes--piprow {
	display: flex;
	flex-direction: row;
}

.Entry-votes--pips:first-child {
	justify-content: flex-end;
}

.Entry-votes--pips:last-child {
	justify-content: flex-start;

	.Entry-votes--pip {
		transform: scaleY(-1);
	}
}

.Entry-votes--piprow:nth-child(5n) + .Entry-votes--piprow {
	margin-top: (6em / 16);
}

.Entry-votes--piprow:nth-child(25n) + .Entry-votes--piprow {
	margin-top: (13em / 16);
}

.Entry-votes--pip {
	height: (8em / 16);
	width: auto;

	&:not(:first-child) {
		margin-left: (4em / 16);
	}
}

.Entry-votes--piprow.remainder {
	.Entry-votes--pip:nth-child(5n) + .Entry-votes--pip {
		margin-left: (8em / 16);
	}
}

