// =============================================================================
// Event listing styles
// =============================================================================

.Event-header {
	@include header-boxed($hue: 100);
	position: relative;
}

.Event-details + .Event-header {
	margin-top: 1em;
}

.Event-details.hidden + .Event-header {
	margin-top: 0.5em;
}

.Event-header.active {
	cursor: pointer;
}

.Event-prompt {
	color: inherit;
	border-bottom: 1px solid hsla(100, 50%, 10%, 1);

	&:hover {
		border-bottom-color: transparent;
		text-decoration: none;
	}
}

.Event-genre[title] {
	border-bottom: 1px dotted hsla(100, 50%, 10%, 1);
}

.Event-toggle {
	float: right;
	right: 0.4em;
}

.Event-header:not(.active) .Event-toggle {
	display: none;
}

.Event-header.expanded .Event-toggle--down {
	display: none;
}

.Event-header:not(.expanded) .Event-toggle--up {
	display: none;
}

.Event-details {
	@extend .Canvas;
}

.Event-staff--container,
.Event-wordcount--container {
	color: #666;
}

.Event-staff,
.Event-wordcount {
	color: #333;
}

.Event-staff--container {
	padding-left: 2em;
	text-indent: -2em;
}

.Event-links,
.Event-admin,
.Event-blurb > ul:first-child {
	font-size: 0.9em;
	margin: 0.2em 0 0 0;
}

.Event-links {
	&.rules {
		@include button-group($hue: 260);
	}

	&.prompt {
		@include button-group($hue: 290);
	}

	&.fic {
		@include button-group($hue: 320);
	}

	&.art {
		@include button-group($hue: 350);
	}
}

.Event-admin {
	@include button-group($hue: 200);
}

.Event-blurb > ul:first-child {
	@include button-group($hue: 230);
}

.Archive-button {
	@include button($hue: 180, $sat: 10%);
}

.New-event--button {
	@include button($hue: 30);
}

.Archive-button,
.New-event--button {
	display: block;
	text-align: center;
	margin-top: 0.5em;
}
