// =============================================================================
// Event listing styles
// =============================================================================

.Event-header {
	@include container;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: hsla(100, 30%, 75%, 1);
	border-size: 0.2em;
	border-style: double;
	border-color: hsla(100, 30%, 20%, 1);
	font-size: 1.1em;
	padding: 0 1em;

	@media #{$mobile} {
		padding: 0 0.5em;
		border-right-width: 0;
		border-left-width: 0;
		width: 100%;
	}
}

.Event-details + .Event-header {
	margin-top: 1em;
}

.Event-details.hidden + .Event-header {
	margin-top: 0.5em;
}

.Event-header.active {
	cursor: pointer;
}

.Event-overview {
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: space-between;

	$line-break: 0.3em;
	margin-top: 1em;
	margin-bottom: (1em - $line-break);
	& > div {
		margin-bottom: $line-break;
	}

	@media #{$mobile} {
		margin-top: 0.5em;
		margin-bottom: (0.5em - $line-break);
	}
}

.Event-toggle {
	margin-left: 1em;
}

.Event-last--image {
	margin-left: 0.3em;
}

.Event-prompt,
.Event-last--delta {
	color: inherit;
	border-bottom: 1px solid hsla(100, 50%, 10%, 1);

	&:hover {
		border-bottom-color: transparent;
		text-decoration: none;
	}
}

.Event-last--image {
	@include box;
	background-color: white;
	border-radius: 2px;
	display: inline-block;
	padding: 1px;
	vertical-align: middle;

	img {
		height: 1.6em;
	}
}

.Genre[title] {
	border-bottom: 1px dotted hsla(100, 50%, 10%, 1);
	cursor: help;
}

.Event-header:not(.active) .Event-toggle {
	display: none;
}

.Event-header.expanded .Event-toggle--down {
	display: none;
}

.Event-header:not(.expanded) .Event-toggle--up {
	display: none;
}

.Event-details {
	@extend .Canvas;
}

.Event-staff--container,
.Event-wordcount--container {
	color: #666;
}

.Event-staff,
.Event-wordcount {
	color: #333;
}

.Event-staff--container {
	padding-left: 2em;
	text-indent: -2em;
}

.Event-staff .Artist-link {
	border-bottom: 1px dotted #aaa;
	color: inherit;

	&:hover {
		color: #666;
		text-decoration: none;
	}
}

.Event-edit {
	margin-left: 0.5em;
	float: right;
}

.Event-links,
.Event-admin,
.Event-blurb > ul:first-child {
	font-size: 0.9em;
	margin: 0.2em 0 0 0;
}

.Event-links {
	@each $type, $hue in ("rules"     , 260),
	                     ("prompt"    , 290),
	                     ("art"       , 320),
	                     ("fic"       , 350),
	                     ("commenting", 230) {
		&.#{$type} {
			@include button-group($hue, 40%);
		}
	}
}

.Event-blurb > ul:first-child {
	@include button-group($hue: 230, $sat: 40%);
}

.Event-list--buttons {
	@include container;
}

.Archive-button {
	@include button($sat: 0%, $l: 90%);
	display: block;
	margin-top: 0.5em;
	text-align: center;
}

.Event-details .Event-timeline {
	margin: 0.5em 0;
}

.Event-form--wordcount {
	display: flex;


	input[type="number"] {
		flex-grow: 1;
		width: 4em;

		&:nth-of-type(1) { margin-right: 0.5em; }
		&:nth-of-type(2) { margin-left: 0.5em; }
	}
}

.Form-item textarea.Event-form--blurb {
	font-size: 1em;
}
