
// =============================================================================
// Styles applied to all or specific elements
// =============================================================================

* {
    box-sizing: border-box;
    text-size-adjust: 100%;
}

body {
    color: #222;
    font-family: sans-serif;
}

/* Light selection rather than dark with inverted text */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* More sensible positioning behaviour for img elements */

img {
    vertical-align: middle;
}

/* Resizing horizontally is unncessary and can cause ugliness */

textarea {
    resize: vertical;
}

/* Link behaviour appropriate in more contexts */

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* Make placeholder text consistent across browsers */

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
	color: #999;
}
