
// =============================================================================
// Styles applied to all or specific elements
// =============================================================================

* {
	box-sizing: border-box;
}

body {
	color: #222;
	background-color: hsla(60, 20%, 92%, 1);
	font-family: sans-serif;
	text-size-adjust: 100%;
}

table {
	border-collapse: collapse;
	word-wrap: break-word;
}

ol, ul {
	ol, ul {
		list-style-type: lower-alpha;
		margin: 0;
	}
}

/* Light selection rather than dark with inverted text */

::selection {
	background: $selection-color;
	text-shadow: none;
}

/* More sensible positioning behaviour for img elements */

img {
	vertical-align: middle;
}

/* Resizing horizontally is unncessary and can cause ugliness */

textarea {
	resize: vertical;
}

/* Link behaviour appropriate in more contexts */

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/* Make placeholder text consistent across browsers */

::placeholder {
	color: #999;
}

/* Make dragula drags force a dragging cursor */

.gu-unselectable * {
	cursor: grabbing !important;
}
