// =============================================================================
// Groups
// =============================================================================

.New-group--button {
   @include button($sat: 0%, $l: 98%);
   @include container;
}

.Groups {
   @include container;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
   grid-gap: 1em;
   align-items: start;
}

.Group,
.Group-stub {
   & > * {
      grid-column: 1 / -1;
   }
}

.Group-stub,
.Group-sheet {
   @include box;
   @include sheet;
}

.Group {
   @include container;
   // display: grid must be here after @include container to override its
   // display: block -- so it can't go in the .Group, .Group-stub selection
   display: grid;
   grid-template-columns: 1fr auto;
   grid-template-rows: 1fr repeat(3, auto);
   margin-bottom: 1.5em;
}

.Group-stub {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr repeat(4, auto);
}

.Group-sheet {
   grid-row: 1 / -1;
   grid-column: 1 / -1;
   z-index: -1;
}

.Group-banner,
.Group-stub--banner {
   grid-row: 1 / span 2;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.Group-banner {
   min-height: 12em;
}

.Group-stub--banner {
   min-height: 8em;
}

.Group-name,
.Group-stub--name {
   z-index: 2;
   grid-row: 2;
   padding: 0.3em 0.5rem;
   font-size: (19em / 16);
   background-color: hsla(0, 0%, 0%, 0.7);

   color: #eee;

   &:hover {
      text-decoration: none;
      border-color: transparent;
   }
}

.Group-descr {
   grid-row: 3;
   grid-column: 1;
   padding: 0.5rem;
}

.Group-edit {
   grid-row: 3;
   grid-column: 2;
   padding: 0.5rem;
}

.Group-links {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   grid-row: 4;

   & > a {
      @include tab-nav-button;
   }
}

.Group-stub--descr,
.Group-stub--owner,
.Group-stub--events,
.Group-stub--entrys,
.Group-stub--members {
   font-size: (15em / 16);
   padding: 0.5rem;
}

.Group-stub--descr {
   grid-row: 3;
   border-bottom: 1px solid #ccc;
}

.Group-stub--events,
.Group-stub--entrys,
.Group-stub--members {
   font-variant: small-caps;
   color: #444;
   text-align: center;
   grid-row: 4;
}

.Group-stub--events { grid-column: 1 }
.Group-stub--entrys { grid-column: 2 }
.Group-stub--members { grid-column: 3 }

.Group-stub--join {
   input[type="submit"] {
      @include button-base;
      @include button-color($sat: 0%, $l: 98%);
      border-width: 0.1em 0 0 0;
      border-color: #ccc;
      display: block;
      padding: 0.7em;
      text-align: center;
      width: 100%;
   }
}

.Group-stub--join { grid-row: -1 }

// =============================================================================
// Group members
// =============================================================================

.Members {
   display: flex;
   flex-flow: row wrap;
   margin: 0 0 -1em -1em;
}

.Member {
   display: grid;
   grid-template-rows: 1fr auto 0.8em;
   grid-template-columns: auto 1fr;
   color: #fff;
   min-width: 12rem;
   margin: 0 0 1rem 1rem;
   font-size: (15em / 16);
}

.Member-band {
   grid-row: 1;
   grid-column: 1 / -1;
   background-color: $artist-color;
}

.Member-stripe {
   grid-row: 2;
   grid-column: 1 / -1;
   background-color: $artist-color-dark;
}

.Member-avatar {
   grid-row: 1 / -1;
   grid-column: 1;
   margin: 0.4em;
}

.Member-avatar img {
   height: 4em;
   width: 4em;
}

.Member-name {
   grid-column: 2;
   grid-row: 2;
   margin: 0.4em 0.8em 0.4em 0;
   overflow: hidden;
   word-wrap: break-word;

   a, a:visited {
      color: inherit;
   }

   a:hover {
      text-decoration: underline;
   }
}

.Member-joined {
   grid-column: 2;
   grid-row: 1;
   align-self: start;
   justify-self: end;
   margin: 0.3em 0.5em 0.3em 0;
   font-size: 0.8em;
}
