// =============================================================================
// Groups
// =============================================================================

.New-group--button {
   @include button($sat: 0%, $l: 98%);
   @include container;
}

.Groups {
   @include container;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
   grid-gap: 1em;
   align-items: start;
}

.Group,
.Group-stub {
   @include box;
   @include sheet;

   & > * {
      grid-column: 1 / -1;
   }
}

.Group-stub {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr repeat(4, auto);
}

.Group {
   @include container;
   display: grid;
   grid-template-columns: 1fr repeat(4, auto);
   grid-template-rows: 1fr repeat(5, auto);
}

.Group-banner,
.Group-stub--banner {
   grid-row: 1 / span 2;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.Group-banner {
   min-height: 12em;
}

.Group-stub--banner {
   min-height: 8em;
}

.Group-stripe,
.Group-stub--stripe {
   grid-row: 2;
   opacity: 0.7;
   background-color: #000;
}

.Group-name,
.Group-stub--name {
   z-index: 2;
   grid-row: 2;
   padding: 0.3em 0.5rem;
   font-size: (19em / 16);

   color: #eee;

   &:hover {
      text-decoration: none;
      border-color: transparent;
   }
}

.Group-descr { grid-row: 4; }
.Group-owner { grid-row: 5; }

.Group-descr,
.Group-owner {
   grid-column: 1;
}

.Group-descr,
.Group-owner,
.Group-events,
.Group-entrys,
.Group-members, {
   padding: 0.5rem;
}

.Group-stub--descr,
.Group-stub--owner,
.Group-stub--events,
.Group-stub--entrys,
.Group-stub--members {
   font-size: (15em / 16);
   padding: 0.5rem;
}

.Group-stub--descr {
   grid-row: 3;
   border-bottom: 1px solid #ccc;
}

.Group-events,
.Group-entrys,
.Group-members,
.Group-stub--events,
.Group-stub--entrys,
.Group-stub--members {
   font-variant: small-caps;
   color: #444;
   text-align: center;
}

.Group-events,
.Group-entrys,
.Group-members {
   grid-row: 4 / span 2;
   align-self: center;
}

.Group-events { grid-column: 2 }
.Group-entrys { grid-column: 3 }
.Group-members { grid-column: 4 }

.Group-stub--events,
.Group-stub--entrys,
.Group-stub--members {
   grid-row: 4;
}

.Group-stub--events { grid-column: 1 }
.Group-stub--entrys { grid-column: 2 }
.Group-stub--members { grid-column: 3 }

.Group-links {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   grid-row: 3;

   & > a {
      @include tab-nav-button;
   }
}

.Group-join,
.Group-stub--join {
   grid-row: -1;

   input[type="submit"] {
      @include button-base;
      @include button-color($sat: 0%, $l: 98%);
      border-width: 0.1em 0 0 0;
      border-color: #ccc;
      display: block;
      padding: 0.7em;
      text-align: center;
      width: 100%;
   }
}

@media #{$mobile} {
   .Group {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr repeat(6, auto);
   }

   .Group-descr,
   .Group-owner {
      grid-column: 1 / -1;
   }

   .Group-events,
   .Group-entrys,
   .Group-members {
      border-top: 1px solid #ccc;
      grid-row: 6;
   }

   .Group-events { grid-column: 1 }
   .Group-entrys { grid-column: 2 }
   .Group-members { grid-column: 3 }
}
