// =============================================================================
// Generic classes that give elements a desired behaviour
// =============================================================================

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
   display: none !important;
   visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
   visibility: hidden;
}

.transparent {
   color: transparent;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}

.clearfix:after {
   clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
   *zoom: 1;
}

/*
 * Float as class names
 */

.pull-left {
   float: left;
}

.pull-right {
   float: right;
}

/*
 * Margin as class name
 */

.spaced {
   margin-top: 1em;
   margin-bottom: 1em;
}

/*
 * Line-height as class name
 */

.flat {
   line-height: 0;
}

/*
 * Clear the default style of <button> elements, to contain .fa icons that submit forms
 */

.button-reset {
   background: none;
   padding: 0;
   border: none;
}

/*
 * Random stuff
 */

@mixin container {
   display: block;
   max-width: $container-wide;
   margin-left: auto;
   margin-right: auto;
   width: 98%;
}

.ctn {
   @include container;
}

.t1 { font-size: 1.5em; }
.t2 { font-size: 1.33em; }
.t3 { font-size: 1.2em; }
.t4 { font-size: 1.1em; }
.t5 { font-size: 1.05em; }

.p1 { padding: 1em; }
.p2 { padding: 2em; }

.m0 { margin: 0; }
.m1 { margin: 1em; }
.mt_5 { margin-top: 0.5em; }
.mt1 { margin-top: 1em; }
.mt2 { margin-top: 2em; }
.mb_5 { margin-bottom: 0.5em; }
.mb1 { margin-bottom: 1em; }
.mb2 { margin-bottom: 2em; }
.ml1 { margin-left: 1em; }
.mr1 { margin-right: 1em; }
.mv1 { margin: 1em 0; }
.mh1 { margin: 0 1em; }

.flex-row-btw {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.center {
   justify-content: center;
}

.end {
   justify-content: end;
}
