// =============================================================================
// Image container and listing
// =============================================================================

.Image-container {
   text-align: center;
   margin-bottom: 2em;
}

.Image {
   max-width: 100%;

   border: 0.1em solid black;
   background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
   box-shadow: 0.2em 0.2em 0.2em black;
}
