// =============================================================================
// Post styles
// =============================================================================

.Posts {
	width: 100%;
	max-width: none;
	margin: 0;
}

.Post {
	@extend .clearfix;
	@include container;

	margin-top: 1.5em;
	word-wrap: break-word;

	@media #{$mobile} {
		@include box;
	}
}

.Post-hover {
	@include box;
	background-color: hsla(60, 20%, 94%, 1);
	padding: 1em;
	position: absolute;
	max-width: $container-wide + 2rem;

	.Post {
		margin: 0;
		width: 100%;
	}
}

.Post-deleted {
	background-color: hsla(27, 40%, 90%, 1);
	border: 0.05em solid hsla(27, 40%, 75%, 1);
	color: hsla(27, 40%, 30%, 1);
	font-size: 0.85em;
	padding: 0.5em 1em;
}

.Post-deleted--restore {
	float: right;

	form {
		@extend .noselect;
		display: inline;
	}

	button {
		@extend .button-reset;
		color: hsla(27, 40%, 40%, 1);

		&:hover {
			text-decoration: underline;
		}
	}
}

.Post.edit {
	.Post-contents--body {
		@extend .hidden;
	}
}

.Post:not(.edit) {
	.Post-contents--edit {
		@extend .hidden;
	}
}

.Post.highlight {
	.Post-contents {
		box-shadow: 0 0 1em hsla(180, 50%, 75%, 1);
	}
}

.Post-author {
	float: left;
	width: 9em;

	@media #{$mobile} {
		float: none;
		width: 100%;
	}

	& + div {
		margin-left: 9.7rem;

		@media #{$mobile} {
			margin-left: 0;
			box-shadow: none;
		}
	}
}

.Post-author--name {
	@include button($hue: 240, $sat: 60%, $l: 55%, $invert: 1);
	&.admin {
		@include button-color($hue: 0, $sat: 60%, $l: 55%, $invert: 1);
	}

	border-radius: 0.2em;
	display: block;
	font-size: 0.9em;
	padding: 0.5em 0.17em;
	text-align: center;
	word-wrap: break-word;

	@media #{$mobile} {
		border-radius: 0;
	}
}

.Post-author--avatar {
	@include box;
	background-color: hsla(0, 0%, 98%, 1);
	border-radius: 0.1em;
	float: right;
	padding: 0.15em;
	margin-top: 0.5em;

	img {
		width: 4em;
		height: 4em;
	}

	@media #{$mobile} {
		display: none;
	}
}

.Post-contents {
	@include box;
	background-color: hsla(0, 0%, 98%, 1);
	border-radius: 0.2em;
	color: #444;
	font-size: 0.95em;
	line-height: 1.4;
	padding: 0;
}

.Post-contents--header {
	color: #999;
	font-size: 0.8em;
	margin: 0 1em;
	padding-bottom: 0.7em;
	padding-top: 1em;
	border-bottom: 1px solid #ddd;

	a,
	button:not(:disabled) {
		cursor: pointer;
		color: #999;
	}
}

.Post-contents:hover {
	.Post-contents--header {
		a {
			color: #666;

			&:hover {
				text-decoration: underline;
			}
		}

		.Post-controls {
			.fa,
			button {
				color: #777;

				&:hover,
				&:hover .fa {
					color: #555;
				}
			}
		}
	}
}

.Post-controls button {
	@extend .button-reset;
}

.Post-controls form,
.Post-vote form {
	display: inline;
}

.Post-vote--score {
	color: green;
	font-weight: bold;
}

.Post-controls {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		float: left;
		margin-left: 0.6em;
	}
}

.Post-contents--body {
	@include bbcode;
	margin: 0 1em;
	padding-top: 1em;
	padding-bottom: 1.2em;
	white-space: pre-wrap;

	hr {
		background: transparent;
		border: none;
		border-bottom: 1px solid #bbb;
	}

	blockquote {
		padding: 0.1em 0.5em;
		border-left: 0.3em solid hsla(240, 30%, 80%, 1);
		color: #888;
		margin: 0;
	}

	a {
		color: blue;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:not(.Post-reply):visited {
			color: purple;
		}
	}
}

.Post-reply {
	cursor: pointer;

	&.loading {
		cursor: wait;
	}
}

.Post-submit,
.Post-edit {
	background-color: #f7f7f7;
	box-shadow: 0 0 3px #b6b6b6;
	font-size: 1.1em;
}

.Post-form--controls {
	padding: 0.2em;
}

.Post-form--controls > ul {
	display: inline-block;
	line-height: 0;
	list-style-type: none;
	margin: 0 0.2em;
	padding: 0.01em;
	font-size: 0.9em;
	position: relative;

	& > li {
		display: inline-block;
		margin: 0 0.2em;
		padding: 0.5em;

		&:hover {
			background-color: white;
			border-radius: 0.25em;
			box-shadow: 0 0 0.15em #b6b6b6 inset;
			cursor: pointer;
		}

		&:active {
			box-shadow: 0 0 0.23em #b6b6b6 inset;
		}
	}

	& + ul:before {
		@extend .noselect;
		background-color: #e5e5e5;
		box-shadow: 0 0 2px white;
		content: " ";
		height: 80%;
		position: absolute;
		left: -0.21em;
		top: 10%;
		width: 1px;
	}

	.fa-font {
		color: hsla(240, 50%, 50%, 1);
	}
}

.Post-form--body {
	border: solid #e5e5e5;
	border-width: 1px 0;

	textarea {
		border: 0;
		box-shadow: none;
		color: #444;
		min-height: 12em;
		font-size: 0.9rem;
		padding: 0.75em;
		width: 100%;
	}
}

.Post-contents--edit .Post-form--body {
	margin-top: -1px;
}

.Post-form--senders {
	padding: 1em;

	button,
	div {
		font-size: 0.9em;
	}

	button[type="submit"],
	.Post-edit--save {
		@include button($hue: 120);
	}

	.Post-edit--cancel {
		@include button($hue: 0, $sat: 20%);
	}
}

.Pager {
	margin: 1.5rem auto;
	text-align: center;

	ul {
		@include box;
		@include button-group($hue: 40, $sat: 40%);
		background-color: hsla(40, 40%, 80%, 1);
		display: inline-block;
		padding: 0.05em;
	}
}

.Pager.loading,
.Pager.loading + .Posts {
	opacity: 0.5;

	&:hover,
	& > ul > li > a:hover {
		cursor: wait !important;
	}
}
