.Post {
	@extend .clearfix;
	@include container;

	margin-top: 1.5em;
	word-wrap: break-word;

	@media #{$mobile} {
		box-shadow: 0 0 3px #b6b6b6;
	}
}

.Post-author {
	float: left;
	width: 9em;

	@media #{$mobile} {
		float: none;
		width: 100%;
	}
}

.Post-author--name {
	@include button($hue: 240, $sat: 60%, $l: 55%, $invert: 1);
	&.admin {
		@include button-color($hue: 0, $sat: 60%, $l: 55%, $invert: 1);
	}

	border-radius: 0.2em;
	display: block;
	font-size: 0.9em;
	padding: 0.5em 0.17em;
	text-align: center;
	word-wrap: break-word;

	@media #{$mobile} {
		border-radius: 0;
	}
}

.Post-author--avatar {
	background-color: hsla(0, 0%, 98%, 1);
	box-shadow: 0 0 3px #b6b6b6;
	border-radius: 0.1em;
	float: right;
	padding: 0.15em;
	margin-top: 0.5em;

	img {
		width: 4em;
		height: 4em;
	}

	@media #{$mobile} {
		display: none;
	}
}

.Post-contents {
	background-color: hsla(0, 0%, 98%, 1);
	box-shadow: 0 0 3px #b6b6b6;
	border-radius: 0.2em;
	color: #444;
	font-size: 0.95em;
	padding: 1em;
	margin-left: 9.7rem;

	@media #{$mobile} {
		margin-left: 0;
		box-shadow: none;
	}
}

.Post-contents:hover {
	.Post-contents--header a,
	.Post-contents--footer a {
		color: #666;
	}
}

.Post-contents--header,
.Post-contents--footer {
	a {
		cursor: pointer;
		color: #999;
	}

	a:hover {
		color: #222;
		text-decoration: none;
	}
}

.Post-contents--header {
	a:hover {
		text-decoration: underline;
	}

	color: #999;
	font-size: 0.8em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ddd;
}

.Post-contents--body {
	@include bbcode;
	padding-top: 1em;

	hr {
		background: transparent;
		border: none;
		border-bottom: 1px solid #bbb;
	}

	blockquote {
		padding: 0.2em 0.5em;
		border-left: 0.3em solid hsla(240, 30%, 80%, 1);
		color: #888;
		margin: 0;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.Post-contents--footer {
	font-size: 0.8em;
	text-align: right;
}

.Post-submit {
	@include container;

	background-color: #f7f7f7;
	box-shadow: 0 0 3px #b6b6b6;
	margin-top: 1em;
	font-size: 1.1em;
}

.Post-submit--controls {
	@extend .clearfix;
	padding: 0.2em;
}

.Post-controls--set {
	float: left;
	list-style-type: none;
	margin: 0 0.2em;
	padding: 0.01em;
	font-size: 0.9em;
	position: relative;

	li {
		float: left;
		margin: 0 0.2em;
		padding: 0.5em;

		&:hover {
			background-color: white;
			border-radius: 0.25em;
			box-shadow: 0 0 0.15em #b6b6b6 inset;
			cursor: pointer;
		}

		&:active {
			box-shadow: 0 0 0.23em #b6b6b6 inset;
		}
	}

	& + .Post-controls--set:before {
		@extend .noselect;
		background-color: #e5e5e5;
		box-shadow: 0 0 2px white;
		content: " ";
		height: 80%;
		position: absolute;
		left: -0.21em;
		top: 10%;
		width: 1px;
	}

	.fa-font {
		color: hsla(240, 50%, 50%, 1);
	}
}

.Post-submit--body {
	border: solid #e5e5e5;
	border-width: 1px 0;

	textarea {
		border: 0;
		box-shadow: none;
		color: #444;
		min-height: 12em;
		font-size: 0.9em;
		padding: 0.75em;
		width: 100%;
	}
}

.Post-submit--senders {
	padding: 1em;

	button {
		font-size: 0.9em;
		@include button($hue: 120);
	}
}
