// =============================================================================
// Results
// =============================================================================

.Results {
	@include striped-table;

	& > tbody > tr {
		$stripe: 20px;
		background-image: repeating-linear-gradient(25deg, transparent,
			transparent $stripe,
			rgba(255,255,255,.1) $stripe,
			rgba(255,255,255,.1) $stripe * 2);

		&.gold {
			font-size: 1.25em;
			background-color: hsla(51, 65%, 92% ,1);
		}

		&.silver {
			font-size: 1.17em;
			background-color: hsla(0, 0%, 92% ,1);
		}

		&.bronze {
			font-size: 1.10em;
			background-color: hsla(39, 65%, 92% ,1);
		}

		& > td {
			&.Results-rank,
			&.Results-awards,
			&.Results-score {
				text-align: center;
			}

			&.Results-artist {
				text-align: right;
			}

			&.Results-title {
				text-align: left;
				width: 100%;
			}

			&.Results-awards,
			&.Results-artist {
				white-space: nowrap;
			}
		}
	}
}

.Results-artist a {
	color: inherit;
	border-bottom: 1px dotted #666;

	&:hover {
		text-decoration: none;
	}
}

.Guesses > tbody > tr > td {
	padding: 0.2em 0.8em;
	vertical-align: top;
}

.Guesses-guesser {
	text-align: right;
}

.Guesses-correct {
	&:hover .Guesses-count {
		@extend .hidden;
	}

	&:not(:hover) .Guesses-titles {
		@extend .hidden;
	}
}

.Guesses-count {
	border-bottom: 1px dotted #444;
}

.Slates {
	@include button-group($hue: 200);
}
