// =============================================================================
// Results
// =============================================================================

.Results {
	@include striped-table;

	& > tbody > tr {
		&.gold,
		&.silver,
		&.bronze {
			$stripe: 1.3em;
			background-image: repeating-linear-gradient(30deg, transparent,
				transparent $stripe,
				rgba(255,255,255,.15) $stripe,
				rgba(255,255,255,.15) $stripe * 2);
		}

		&.gold {
			font-size: 1.25em;
			background-color: hsla(51, 65%, 90%, 1) !important;
		}

		&.silver {
			font-size: 1.17em;
			background-color: hsla(0, 0%, 90%, 1) !important;
		}

		&.bronze {
			font-size: 1.10em;
			background-color: hsla(39, 65%, 90%, 1) !important;
		}

		& > td {
			&.Results-rank,
			&.Results-awards,
			&.Results-score {
				text-align: center;
			}

			&.Results-artist {
				text-align: right;
			}

			&.Results-title {
				text-align: left;
				width: 100%;
			}

			&.Results-awards,
			&.Results-artist {
				white-space: nowrap;
			}
		}
	}
}

.Results-breakdown {
	font-size: 0.7rem;
}

.Guesses {
	width: 100%;
	table-layout: fixed;
}

.Guesses-wrapper {
	position: relative;
}

.Guesses-sticky {
	position: absolute;
	top: 1.3em;
	width: 10em;
	@media #{$mobile} {
		width: 6.5em;
	}
}

.Guesses-grid {
	margin-left: 10.5em;
	overflow: auto;
	@media #{$mobile} {
		margin-left: 7em;
	}

	.fa {
		vertical-align: middle;
	}

	.Guesses {
		margin-bottom: 0.7em;
	}
}

.Guesses-entry {
	overflow: hidden;
	white-space: nowrap;
	text-align: start;
	text-overflow: ellipsis;
}

.Guesses-entry,
.Guesses-guess, {
	padding: 0.2em;
}

.Guesses-guess {
	cursor: default;
	text-align: center;
	position: relative;

	.fa-circle {
		font-size: 0.5em;
	}

	&:not(:hover) .Guess-details {
		@extend .invisible;
	}
}

.Guess-details {
	position: absolute;
	left: 3.8em;
	top: -0.7em;
	background: white;
	border: 1px solid hsla(200, 30%, 70%, 1);
	z-index: 1;
	white-space: nowrap;

	display: table;
	& > div {
		display: table-row;
		& > div {
			display: table-cell;
			padding: 0.1em 0.2em;
		}
	}
}

.Guesses-guesser {
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	width: 6em;
	padding: 0 0.2em;
	text-overflow: ellipsis;
}

.Votes-summary {
	font-size: 0.6rem;
	text-align: center;

	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			list-style-type: none;
		}
	}
}
