// =============================================================================
// Schedule listing styles
// =============================================================================

.Schedule-add {
   @include button($sat: 0%, $l: 90%);
   @include container;
   margin-top: 1em;
   text-align: center;
}

.Schedule-timeline {
   padding: 0.01em 0.5em;
}

.Round-add {
   @include button($hue: 200);
}

.Round-remove--pad {
   visibility: hidden;

   @media #{$mobile} {
      display: none !important;
   }
}
