// =============================================================================
// Scoreboard style
// =============================================================================

.Scoreboard {
	@include striped-table;

	& > tbody > tr > td {
		text-align: center;
	}
}

.Scoreboard-awards {
	line-height: 0;

	.Award + .Award {
		margin-left: -10px;
	}
}

.Scoreboard-filter {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	// font-size: 0.8em;
	margin: calc(-2rem - 1px);
	margin-bottom: 2rem;

	padding: 1em 2rem;

	background-color: hsla(200, 17%, 92%, 1);
	border: 1px solid hsla(200, 17%, 80%, 1);
}

.Scoreboard-filter--cat {
	display: flex;
	flex-direction: column;

	& + .Scoreboard-filter--cat {
		margin-left: 0.8em;
	}

	label {
		font-variant: small-caps;
	}
}

.Scoreboard-breakdown {
	font-size: 0.8rem;
	margin: 0 auto;

	& > tbody > tr > td,
	& > thead > tr > th {
		padding: 0.3em;
	}
}

.Scoreboard-breakdown--prompt,
.Scoreboard-breakdown--title {
	text-align: start;
}
