// =============================================================================
// Story container
// =============================================================================

.Story-container {
	@extend .Document;
}

.Story-title {
	@extend .Document-title;
}

.Story {
	font-family: serif;
	font-size: 1.1em;
	line-height: 1.618;
	margin-bottom: 2em;
	text-align: justify;

	hr {
		background: transparent;
	    border: none;
	    border-top: medium double #666;
		border-bottom: medium solid transparent;
	    color: #666;
		display: inline-block;
		margin: 1.2em 0;
		padding: 0;
	    text-align: center;
		width: 100%;

		&:after {
		    content: "§";
			position: relative;
			top: -0.7em;
		    display: inline-block;
		    font-size: 1.5em;
			line-height: normal;
		    padding: 0 0.25em;
		    background: hsla(0, 0%, 98%, 1);
		}
	}

	blockquote {
		padding: 1.8em;
		margin: 0;
		border: 1px solid gainsboro;
		border-radius: 4px 0 0 0;
		box-shadow: 2px 2px 2px grey;
	}

	blockquote {
		background: hsla(0, 0%, 99%, 1);
	}
}
