// =============================================================================
// Story container and listing
// =============================================================================

.Story-container {
	@extend .Document;
}

.Story-title {
	@extend .Document-title;
}

.Story {
	font-family: serif;
	font-size: 1.1em;
	line-height: 1.618;
	margin-bottom: 2em;
	text-align: justify;

	hr,
	blockquote,
	div {
		display: inline-block;
		width: 100%;
	}

	hr {
		background: transparent;
	    border: none;
	    border-top: medium double #666;
		border-bottom: medium solid transparent;
	    color: #666;
		margin: 1.5em 0 0 0;
		overflow: visible;
		padding: 0;
	    text-align: center;

		&:after {
		    content: "ยง";
			position: relative;
			top: -0.7em;
		    display: inline-block;
		    font-size: 1.5em;
			line-height: normal;
		    padding: 0 0.25em;
		    background: hsla(0, 0%, 98%, 1);
		}
	}

	blockquote {
		padding: 1.8em;
		margin: 0;
		border: 1px solid hsla(0, 0%, 80%, 1);
		border-radius: 4px 0 0 0;
		box-shadow: 1px 1px 1px hsla(0, 0%, 85%, 1);
		background: hsla(0, 0%, 99%, 1);
	}
}

.Story-redacted {
	text-align: center;
}

.Storys {
	@include striped-table;
}

.Storys-edit {
	font-size: 0.9em;
}

.Storys-num,
.Storys-edit,
.Storys-title,
.Storys-author,
.Storys-wordcount,
.Storys-index,
.Storys-publish,
.Storys-created,
.Storys-updated {
	text-align: center;
}

.Storys-export {
	white-space: nowrap;
}

.Storys-access--update {
	text-align: center;
	margin-top: 1em;

	input {
		@include button($hue: 200);
	}
}
