// =============================================================================
// User admin styles
// =============================================================================

.Password-new {
	text-align: center;
	font-size: 1.3em;
	font-family: monospace;
}

.Check-buttons {
	list-style-type: none;
	padding: 0;
	margin: 0.2em 0 0.5em 0;
	font-size: 0.95em;

	li {
		display: inline-block;
	}

	label {
		display: inline;
		font-weight: normal;
		font-variant: normal;
	}
}

.Check-button {
	input[type="checkbox"] {
		@extend .hidden;

		& + span {
			@include button;
			margin-right: -1px;
			margin-bottom: -1px;
		}

		&:checked + span {
			@include button-active($l: 70%);
		}
	}
}
