// =============================================================================
// User admin styles
// =============================================================================

.Password-new {
	text-align: center;
	font-size: 1.3em;
	font-family: monospace;
}
