// =============================================================================
// Ballot styles
// =============================================================================

.Ballot {
	width: 100%;

	& > tbody > tr {
		&:nth-child(odd) > td {
			background-color: hsla(200, 30%, 90%, 1);
		}

		&:nth-child(even) > td {
			background-color: hsla(200, 30%, 95%, 1);
		}

		& > td.Ballot-divider {
			background-color: transparent;

			&:before {
				@include divider;
				content: " ";
			}
		}

		& > td {
			padding: 0.8em;

			&:first-child,
			&:last-child {
				text-align: center;
			}

			&:nth-child(2) {
				padding-left: 0;
				padding-right: 0;
				width: 100%;
			}

			&.Ballot-abstain--cell {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}

	& > .abstained:empty {
		@extend .hidden;
	}
}

.Ballot-abstain {
	@include button($hue: 200, $sat: 30%, $l: 97%);
	padding: 0.4em;
	font-size: 0.8em;
}

.Ballot-directions,
.Ballot-append {
	opacity: 0.6;

	&:not(:only-child) {
		display: none;
	}
}

.Ballot-append {
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
}
