// =============================================================================
// Ballot styles
// =============================================================================

.Ballot {
	@include striped-table;

	& > tbody,
	& > thead {
		border: none;
	}

	& > tbody > tr > td {
		&.Ballot-arrows,
		&.Ballot-score,
		&.Ballot-abstain--cell {
			text-align: center;
		}

		&.Ballot-title {
			width: 100%;
		}

		&.Ballot-abstain--cell {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.ordered,
	.unordered {
		.Ballot-unabstain {
			@extend .hidden;
		}
	}

	.abstained {
		.Ballot-abstain,
		.Ballot-up {
			@extend .hidden;
		}
	}

	.abstained:empty {
		@extend .hidden;
	}
}

.Ballot-up:hover {
	cursor: pointer;
}

.Ballot-abstain,
.Ballot-unabstain {
	@include table-button;
}

.Ballot-directions,
.Ballot-append {
	opacity: 0.6;

	&:not(:only-child) {
		display: none;
	}
}

.Ballot-append {
	&.waiting .Ballot-append--control,
	&:not(.active) .Ballot-append--control {
		@extend .hidden;
	}

	&.active .Ballot-append--done {
		@extend .hidden;
	}

	&:not(.waiting) .Ballot-append--wait {
		@extend .hidden;
	}

	&.active:hover,
	&.waiting {
		cursor: pointer;
		opacity: 1;
	}
}

.Votes-summary {
	font-size: 1rem;
	text-align: center;

	ul {
		display: inline-block;
		line-height: 0.5em;
		margin: 0;
		padding: 0;
		font-size: 1.4em;
		text-align: center;

		li {
			list-style-type: none;
		}
	}
}
