// =============================================================================
// Style for the default wrapper
// =============================================================================

/*
 * Sticky footer
 */

body {
   display: flex;
   flex-direction: column;
   height: 100%; /* IE */
   height: 100vh;
   padding: 0;
   margin: 0;
   min-width: 18rem;
}

.Site-header,
.Site-footer {
   flex: none;
}

.Site-content {
   flex: 1 0 auto;
   width: 100%;
}

.Site-content::after {
   content: "\00a0"; /* nbsp */
   display: block;
   margin-top: 1em;
   height: 0;
   visibility: hidden;
}

/*
 * Header
 */

.Site-header--container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   max-width: $container-overflow;
   width: 100%;
   margin: 0 auto;
}

.Site-header {
   color: #bdc3cf;
   background: hsla(0, 0%, 9%, 1) linear-gradient(hsla(0, 0%, 0%, 1), hsla(0, 0%, 18%, 1));
   line-height: 42px;
   margin-bottom: 1em;

   a {
      color: inherit;
      font-size: 0.9em;
      text-shadow: 1px 0 0 hsla(0, 0, 35%, 1);
      text-decoration: none;
      display: block;
      padding: 0;
   }

   ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0.01em;

      li {
         display: inline-block;
         margin: 0;
         padding: 0;
         position: relative;

         & > * {
            padding: 0 0.75em;
         }
      }

      li ul {
         padding: 0;
         position: absolute;
         top: 42px;
         right: 0;
         text-align: left;
         min-width: 10em;
         display: none;
         opacity: 0;
         visibility: hidden;
         border: 0.1em solid hsla(0, 0%, 30%, 1);
         border-top: none;
      }

      li ul li {
         display: block;
         padding: 0;
         white-space: nowrap;

         & > * {
            font-size: 0.9em;
            display: inline-block;
            padding: 0.25em 1em;
         }

         .icon {
            background: hsla(0, 0%, 95%, 1);
            line-height: inherit;
            text-shadow: none;

            button {
               cursor: pointer;

               &:not(.active) {
                  color: hsla(0, 0%, 70%, 1);

                  &:hover {
                     color: hsla(0, 0%, 50%, 1);
                  }
               }
            }

            & > .fa {
               cursor: default;
            }
         }
      }

      li:hover ul {
         display: block;
         opacity: 1;
         visibility: visible;
         z-index: 10;
      }
   }

   div > ul > li:hover {
      background-color: hsla(0, 0%, 15%, 1);
   }

   div > ul > li.current a {
      color: hsla(0, 92%, 60%, 1);
      text-shadow: 1px 1px 2px #000;
   }

   ul > li > ul > li {
      background-color: hsla(0, 0%, 98%, 1);
      color: invert(#bdc3cf);

      a {
         text-shadow: hsla(0, 0%, 80%, 1);
      }

      // FIXME this should be a:hover but a should fill remaining space
      &:hover {
         background-color: hsla(60, 70%, 90%, 1);
      }
   }

   .fa {
      vertical-align: middle;
   }
}

.Artist-swap {
   @extend .button-reset;
}

.Site-header--global {
   .fa-external-link {
      font-size: 0.9em;
   }
}

.Site-header--user {
   flex-grow: 1;
   text-align: end;
}

.Site-logo {
   margin: 5px 0 4px 0;
   vertical-align: middle;
   line-height: 0;
   height: 32px;
}

/*
 * Footer
 */

.Site-footer--container {
   max-width: $container-default;
   width: 95%;
   padding: 1em 0;
   margin: 0 auto;
   text-align: center;
}

.Site-footer {
   background: hsla(0, 0%, 98%, 1);
   margin-top: 1em;
   border-top: 4px solid #d8d8d8;
   font-size: 0.9em;
}

.Site-footer--links > a {
   color: #222;
   display: inline-block;
   margin: 0 1em 0.5em 1em;
   text-decoration: none;
   font-weight: bold;

   &:hover {
      text-decoration: underline;
   }
}

/*
 * Absolutely positioned status messages
 */

.Status-container {
   position: fixed;
   bottom: 0;
   width: 100%;

   .Status {
      background-color: hsla(0, 0, 98%, 1);
      border-radius: 4em 4em 0 0;
      box-shadow: 0 0 2px hsla(0, 0, 20%, 1);
      padding: 0.4em 1em;
      margin: 0 auto;
      max-width: 36em;
      width: 100%;
      text-align: center;

      div {
         margin: 0.2em 0;
      }
   }
}
