// =============================================================================
// Style for the default wrapper
// =============================================================================

/*
 * Sticky footer
 */

body {
	display: flex;
	flex-direction: column;
	height: 100%; /* IE */
	height: 100vh;
	padding: 0;
	margin: 0;
}

.Site-header,
.Site-footer {
	flex: none;
}

.Site-content {
	flex: 1 0 auto;
	width: 100%;
}

.Site-content::after {
	content: "\00a0"; /* nbsp */
	display: block;
	margin-top: 1em;
	height: 0;
	visibility: hidden;
}

/*
 * Global background color -- very dim colour to allow contrast
 */

body {
	background: hsla(60, 20%, 92%, 1);
}

body.inverted {
	background: hsla(240, 20%, 8%, 1);
	filter: invert(100%);
}

/*
 * Header
 */

.Site-header--container {
	max-width: 1040px;
	width: 95%;
	margin: 0 auto;
}

.Site-header {
	background: hsla(0, 0%, 21%, 1) linear-gradient(hsla(0, 0%, 23%, 1), hsla(0, 0%, 18%, 1));
	line-height: 42px;
	margin-bottom: 1em;

	a {
		display: inline-block;
		color: #bdc3cf;
		height: 42px;
		padding: 0 8px;
		font-size: 0.9em;
		text-decoration: none;

		&:hover {
			background-color: hsla(0, 0%, 10%, 1);
		}
	}
}

.Site-logo {
	margin: 5px 0 4px 0;
	vertical-align: middle;
	line-height: 0;
	height: 32px;
}

/*
 * Content - generic top-level containers
 */

@mixin container {
	display: block;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

.Site-content > * {
	@include container;
}

.Document {
	@include container;

	background-color: hsla(0, 0%, 98%, 1);
	box-shadow: 0 0 3px #b6b6b6;
	padding: 2em;
}

.Heading-unboxed {
	@include container;

	font-size: 1.6em;
	text-align: center;
}

@mixin header-boxed($hue, $sat: 30%) {
	@include container;

	background-color: hsla($hue, $sat, 70%, 1);
	border-size: 3px;
	border-style: double;
	border-color: hsla($hue, $sat, 20%, 1);
	font-size: 1.1em;
	padding: 1em;
}

.Global-message {
	@include container;

	background: hsla(200, 50%, 85%, 1);
	border: 1px solid hsla(200, 50%, 65%, 1);
	color: hsla(200, 50%, 20%, 1);
	font-size: 0.8em;
	padding: 1em;
	margin-bottom: 1em;
}

/*
 * Footer
 */

.Site-footer--container {
	max-width: 900px;
	width: 95%;
	padding: 1em 0;
	margin: 0 auto;
	text-align: center;
}

.Site-footer {
	background: hsla(0, 0%, 98%, 1);
	margin-top: 1em;
	border-top: 4px solid #d8d8d8;
	font-size: 0.9em;
}

.Site-footer--links > a {
	color: #222;
	display: inline-block;
	margin: 0 1em 0.5em 1em;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}
