@import "old";

// ============================================================================
// Constants
// ============================================================================

$mobile: "(max-width: 40rem)";

$container-overflow: 72rem;
$container-wide: 64rem;
$container-default: 56rem;
$container-narrow: 48rem;

$selection-color: #b3d4fc;

// ============================================================================
// Partials
// ============================================================================

@import "global";

@import "components";
@import "helpers";

@import "wrapper";
@import "document";

@import "artist";
@import "entry";
@import "event";
@import "image";
@import "notif";
@import "post";
@import "prompt";
@import "results";
@import "scoreboard";
@import "schedule";
@import "spinner";
@import "story";
@import "user";
@import "vote";
