@import "old";

// ============================================================================
// Config
// ============================================================================

$mobile: "(max-width: 640px)";

$container-overflow: 1160px;
$container-wide: 1020px;
$container-default: 900px;
$container-narrow: 780px;

// ============================================================================
// Partials
// ============================================================================

@import "global";

@import "components";
@import "helpers";

@import "wrapper";
@import "document";

@import "event";
@import "post";
@import "prompt";
@import "story";
@import "results";
@import "scoreboard";
@import "user";
@import "vote";
