<div class="Document wide">
	<div class="Document-title">
		{{ title.-1 }}
	</div>

	{{ IF scoreboard }}
		{{ scoreboard.body | none }}
	{{ ELSE }}
	<div class="Flash">
		{{ c.string('calculatingScoreboard') }}
	</div>
	{{ END }}
</div>
