[% USE cache = Cache -%]
[%
	cache.inc(
		'template' => 'scoreboard/index_.tt',
		'ttl' => c.debug || 360,
		'keys' => {
			'type' => 'scoreboard',
			'order' => c.req.uri,
			'scores' => artists.get_column('score').all.join(';'),
		},
	);
-%]
