{{ title.push(c.string('schedule')) }}

<div class="Document">
	<div class="Document-title">{{ title.-1 }}</div>

	{{ FOREACH schedule IN schedules.all }}
		{{ PROCESS 'schedule/single.tt' }}
	{{ END }}

	{{ IF c.user.admin }}
	<a class="Schedule-add" href="{{ c.uri_for_action('/schedule/add') }}">
		{{ c.string('new') }}
	</a>
	{{ END }}
</div>
