<div class="Schedule">
	<div class="Schedule-desc">
		<div class="Schedule-name">
			<span class="Schedule-genre">{{ schedule.genre.name }}</span>
			<span class="Schedule-format">{{ schedule.format.name }}</span>
			<span class="Schedule-start">
				{{ schedule.next.date_html | none }}
			</span>
		</div>
	</div>

	<div class="Schedule-timeline">
		{{ PROCESS 'event/timeline.tt' timeline = schedule.format.timeline(schedule.next)  }}
	</div>
</div>
