<div class="Schedule">
	<div class="Schedule-desc">
		<div class="Schedule-name">
			<span class="Genre" title="{{ schedule.genre.descr }}">{{ schedule.genre.name }}</span>
			<span class="Format">{{ schedule.format.name }}</span>
		</div>
	</div>

	<div class="Schedule-timeline">
		{{ PROCESS 'event/timeline.tt' timeline = schedule.timeline  }}
	</div>
</div>
