<h1>Art Voting</h1>

<p>
	Votes open: <strong>[% format_dt(event.art_end) %]</strong>.
	<br />
	Votes close: <strong>[% format_dt(event.end) %]</strong>.
	<br />
	Votes received: <strong>[% event.vote_records_rs.public.art.filled.count %]</strong>.
	<br />
[%- IF event.art_votes_allowed %]
	Votes are <strong class="good">open</strong>.
[%- ELSE %]
	Votes are <strong class="bad">closed</strong>.
[%- END %]
</p>

[%- IF event.art_votes_allowed %]

[% INCLUDE vote/public/form.tt %]

[%- END %]
