<ul class="contents">
	[% FOREACH header IN headers %]
	<li class="[% header.class %]">
		<a class="link" href="#[% header.contents | simple_uri %]">
			[% header.contents %]
		</a>
	</li>
	[% END %]
</ul>

[% content %]