<div class="Event-archive--nav mb_5">
   {{ SET years = [minYear .. maxYear] }}
   {{ FOREACH y IN years.reverse }}
   <a href="{{ c.uri_for(c.action, c.req.captures) }}/{{ y }}"
      class="{{ 'current' IF y == year }}">
      {{ y }}
   </a>
   {{ END }}
</div>

{{ INCLUDE event/list.tt }}
