{{ title_push_s('schedule') }}

{{ IF schedules.count }}
   {{ FOREACH schedule IN schedules.all }}
      {{ PROCESS 'schedule/single.tt' }}
   {{ END }}
{{ ELSE }}
<div class="Flash ctn">{{ c.string('noScheduledEvents') }}</div>
{{ END }}

{{ IF group.established && c.user.owns(group) }}
<a class="Schedule-add" href="{{ c.uri_for_action('/schedule/add', [ group.id_uri ]) }}">
   {{ c.string('new') }}
</a>
{{ END }}
