{{ title_push_s('schedule') }}

{{ IF schedule.count }}
   {{ FOREACH schedule IN schedules.all }}
      {{ PROCESS 'schedule/single.tt' }}
   {{ END }}
{{ ELSE }}
<div class="Flash ctn">{{ c.string('noScheduledEvents') }}</div>
{{ END }}

{{ IF c.user.admin }}
<a class="Schedule-add" href="{{ c.uri_for_action('/schedule/add') }}">
   {{ c.string('new') }}
</a>
{{ END }}
