[% FILTER markdown %]

* __To:__ [% c.form.valid('to') | html %]
* __From:__ [% c.user.username_and_email | html %]
* __Subject:__ [% c.form.valid('subject') | html %]

[% c.form.valid('message') | html %]</p>

[%- IF recipient == c.user.username_and_email %]

---

This is a duplicate of the email sent to your recipient. 
It was sent to you automatically for your convenience. 
Please do not respond to this email.

[%- END %]

[%- END %]