{{ FILTER markdown }}

* __To:__ {{ c.form.valid('to') }}
* __From:__ {{ c.user.username_and_email }}
* __Subject:__ {{ c.form.valid('subject') }}

{{ c.form.valid('message') }}

{{- IF recipient == c.user.username_and_email }}

---

This is a duplicate of the email sent to your recipient.
It was sent to you automatically for your convenience.
Please do not respond to this email.

{{- END }}

{{- END }}
