{{ WRAPPER wrapper/email.tt }}

New event and shizz. Here's the gist:

- __Organiser:__ {{ event.organisers.map_username.join_serial }}
- __Genre:__ {{ event.genre.name }}
- __Format:__ {{ event.format.name }}
- __Starting time:__ {{ event.start.datetime_html | none }}

Check out [the event overview]({{ c.uri_for_action('/event/permalink', event.id) }}) for more details.

{{ END }}
