The next [{{ event.genre.name }} {{ event.format.name }} event]({{
c.uri_for_action('/event/permalink', [ event.id ]) }}) is starting soon.

{{ IF event.fic2pic }}
It's a fic2pic event.
{{ ELSIF event.pic2fic }}
It's a pic2fic event.
{{ END }}

[Have your say in what the prompt is!]({{
c.uri_for_action('/prompt/submit', [ event.id ]) }})
