Your {{ name }} account, __{{ user.username }}__, has had a password reset requested.
If you made this request, then go ahead and [reset your password]({{
c.uri_for_action('/user/do_recover', [ user.id, token.value ]) }}).
