{{ WRAPPER wrapper/email.tt }}

__{{ c.user.username }}__ said that this is their new email address for {{ name }}.
If that's you, then go ahead and [verify this address]({{ c.uri_for_action('/user/do_verify', [ user.id, token.value ]) }}).

If you didn't request this email, please ignore it.

{{- END }}
